<link rel="stylesheet" href="./nepadmin/css/formSelects.css" media="all">
<style>
    .xm-select-dl{
        top:unset !important;
    }
</style>

<div class="layui-fluid" id="VIEW-fromlist" lay-title="民间列表">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md10">
            <div class="layui-card">
                <div class="layui-card-body nepadmin-pad-l10 nepadmin-pad-r10">
                    <div class="layui-btn-container">
                       <!--  <div class="layui-btn layui-btn-sm" data-type='add' style="margin-bottom: 0;" lay-url="/supply/addsupply">添加供应商</div> -->

                        <a href="#/from/add" class="layui-btn layui-btn-xs">录入来源</a>

                    </div>
                    <table id="fromlist" lay-filter="fromlist"></table>
                </div>
            </div>
        </div>

        <div class="layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-header">筛选数据11</div>
                <div class="layui-card-body">
                    <form class="layui-row layui-col-space10 layui-form">
                        
                   
          <div class="layui-col-md12 layui-col-xs4">
                            <input type="text" class="layui-input" name="name" placeholder="" >
                        </div>

        

                        <div class="layui-col-md12 layui-col-xs12">
                            <div class="layui-row layui-col-space10">
                                <div class="layui-col-xs6">
                                    <div class="layui-btn layui-btn-sm layui-btn-fluid" lay-submit lay-filter="search-fromlist">筛选</div>
                                </div>
                                <div class="layui-col-xs6">
                                    <button type="reset" class="layui-btn layui-btn-sm layui-btn-fluid layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </div>




                    </form>
                </div>
            </div>

           

        </div>
    </div>
</div>


<script type="text/html" id="mj_bar">
  <!--   <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a> -->
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script>


    layui.use(['admin', 'table', 'form', 'dropdown', 'jquery', 'formSelects'], function (admin, table, form, dropdown, $) {
        var view = $('#VIEW-fromlist');

        var formSelects = layui.formSelects;
   

        var tableFilter = 'fromlist';

          // 加载权限列表

        admin.renderTable({
            elem: '[lay-filter="' + tableFilter + '"]',
            id: 'frolist',
            api: 'getfrom',
            page: true,
            cols: [[
                { title: '名称', field: 'name'},
               
                { title: '', fixed: 'right', toolbar:'#mj_bar'},

            ]]
        });

         // filter the data
        form.on('submit(search-fromlist)', function (data) {
            table.reload( 'frolist', {
                where: {
                    keyword:data.field.name,
                  
                }
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });



         table.on('tool(fromlist)', function(obj){
            let data = obj.data;
            let layEvent = obj.event;
            let tr = obj.tr;

            console.log(layEvent);
            console.log(data);

            if(layEvent === 'detail'){
                //do somehing
            } else if(layEvent === 'del'){
                layer.confirm('真的删除行么?', function(index){
                    admin.post({
                        api: "delfrom",
                        data: data,
                        success:function (res) {
                            layer.alert("删除成功",{
                                yes:function () {
                                    layui.view.tab.refresh();
                                    layer.closeAll();
                                    formSelects.render();
                                    form.render();
                                }
                            })
                        }
                    });
                });
            } 
        });


       
       
       

    })
</script>

<!-- <script type="text/javascript">
      layui.use(['admin', 'table', 'form', 'dropdown', 'jquery', 'formSelects'], function (admin, table, form, dropdown, $) {

function hello(){

$.get("/api/borrow/getreminder",function(res){

var ob = res.result;

if (ob != null) {

var remin = `<div class="layui-card">
  <div class="layui-card-body">
    `+ob.customer+"到期时间为"+set_time(ob.expiretime)+"还款金额: "+ob.cash+`
  </div>
</div>`;
    var con = `<div style="padding: 10px;">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">到期还款提醒</label>
                
            </div>

               <div class="layui-form-item" id="remindercon">
              `+
              remin+`
                
            </div>

 <input type="hidden" name="id"   lay-verify="required" value=`+ob.id+`>
           
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="read">我知道了</button>
                </div>
            </div>
        </form>

    </div>`;

    
                    admin.popup({
                        content: con,
                        title: '到期提醒还款',
                        area: ['70%', '70%'],
                        shadeClose: false,
                        cancel: function(index, layero){
                            $("#reminder").html(this.content);
                        }
                    });

}

},'JSON');

}







  form.on('submit(read)', function (data) {
            admin.post({
                api: 'readreminder',
                data: data.field,
                success:function (res) {
                    layer.msg('通知成功', {
                        icon:1,
                        success :function (index, layero) {
                            setTimeout(function(){
                                layer.closeAll();
                                layui.view.tab.refresh();
                            },800);
                        }
                    });
                }
            });
            return false;
        });

//重复执行某个方法
var t1 = window.setInterval(hello,6000);


})
</script> -->