<link rel="stylesheet" href="./nepadmin/css/formSelects.css" media="all">
<div class="layui-fluid" lay-title="供应商管理">
    <div class="layui-row layui-col-space15">


        <div class="layui-col-md12">
            <form class="layui-card layui-form" layui-filter="add-role">
                <div class="layui-card-header" id="rolebd_status">添加通讯录</div>
                <div class="layui-card-body layui-row layui-col-space10">
                    <div class="layui-col-md6">
                        <label class="layui-form-label">名称</label>
                        <div class="layui-input-block">
                        <input type="text" name="name" placeholder="名称" autocomplete="off" lay-verify="required" class="layui-input">
                    </div>
                    </div>

<input type="hidden" name="id">

            <div class="layui-col-md12 layui-col-xs12">
                       
                         <label class="layui-form-label">联系人类别</label>
                            <div class="layui-input-block">
                              <select  name="type" id="type">
                                


                              </select>
                            </div>
             </div>





                    <div class="layui-col-md6">
                        <label class="layui-form-label">联系人</label>
                        <div class="layui-input-block">
                        <input type="text" name="contact" placeholder="" autocomplete="off" lay-verify="required" class="layui-input">
                    </div>
                    </div>




                    <div class="layui-col-md6">
                        <label class="layui-form-label">电话</label>
                        <div class="layui-input-block">
                        <input type="text" name="phone" placeholder="" autocomplete="off" lay-verify="required" class="layui-input">
                    </div>
                    </div>



                    <div class="layui-col-md6">
                        <label class="layui-form-label">地址</label>
                        <div class="layui-input-block">
                        <input type="text" name="address" placeholder="" autocomplete="off" lay-verify="required" class="layui-input">
                    </div>
                    </div>



                    <div class="layui-col-md6">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                        <input type="text" name="ramark" placeholder="" autocomplete="off" lay-verify="required" class="layui-input">
                    </div>
                    </div>

                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">其他资料</label>
                        <div class="layui-input-block">
                          <textarea name="info" placeholder="请输入内容" class="layui-textarea"></textarea>
                        </div>
                      </div>


                

                                        <div class="layui-form-item">
                            
                            <button type="button" class="layui-btn" id="test1">
  <i class="layui-icon">&#xe67c;</i>上传文件
</button>
                           
                        </div>

<div class="layui-col-md12" id="filebox2">

   

</div>


                    


                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="edit-callbook">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- 添加角色结束 -->

       
    </div>
</div>

<script>
    layui.use(['admin', 'table', 'upload','form', 'jquery', 'laytpl', 'formSelects'], function (admin) {
        var $ = layui.jquery;
        var element = layui.element;
        var laytpl = layui.laytpl;
        var formSelects = layui.formSelects;
        var table = layui.table;
        var rolebd_status_value = 'add';
        var form = layui.form;
        var upload = layui.upload;

        // 加载权限列表
        admin.post({
            api: 'getcalltypes',
            success:function (res) {
                if (res.result.list.length > 0){
                    let html = "";
                    $.each(res.result.list, function (index, item) {
                        html += '<option value="'+item.name+'">'+item.name+'</option>';
                    });
                    $("#type").html(html);
                }


                formSelects.render();
                form.render();
            }
        });


        upload.render({
  elem: '#test1'
  ,url: '/api/upload/do',
  accept:'file'
  ,multiple: true
  ,allDone: function(obj){ //当文件全部被提交后，才触发
    console.log(obj.total); //得到总文件数
    console.log(obj.successful); //请求成功的文件数
    console.log(obj.aborted); //请求失败的文件数
  }
  ,done: function(res, index, upload){ //每个文件提交一次触发一次。详见“请求成功的回调”
    var file = res.result;
            $.each(file,function(k,v){
                    var  resfile= `<div class="layui-col-md1"><a href=`+v.replace(/uploadfiles/,"files")+`><i class="layui-icon layui-icon-file" style="font-size: 30px; color: #1E9FFF;"></i><span>`+k+`</span></a><input type='hidden' value=`+v+` name=`+k+` class='filebox2'><i class="layui-icon layui-icon-delete re">delete</i>
                    </div>`;   
                            $("#filebox2").append(resfile);
                  });

        }

});

        $('body').on('click','.re',function(){
                console.log("hello");


              $(this).parent().remove();
             });


        form.on('submit(edit-callbook)', function (data) {
            switch (rolebd_status_value) {
                case 'add':
                files2 = [];
                jsdata = {};

                dataforms = data.field;
                   $(".filebox2").each(function(){
                    var filepath = $(this).attr("value");
                    var filename = $(this).attr("name");
                    files2.push({"filename":filename,"filepath":filepath});
                   });


                   jsdata['files'] = files2;

                   jsdata['data'] = dataforms;

                   console.log(jsdata);

                    admin.post({
                        api: "editcallbook",
                        data: jsdata,
                        success:function (res) {
                            layer.alert("更新成功",{
                                yes:function () {
                                    layui.view.tab.refresh();
                                    layer.closeAll();
                                    formSelects.render();
                                    form.render();
                                }
                            })
                        }
                    });
                    break;
                case 'edit':
                    admin.post({
                        api: "ediRole",
                        data: data.field,
                        success:function (res) {
                            layer.alert("编辑角色成功",{
                                yes:function () {
                                    layui.view.tab.refresh();
                                    layer.closeAll();
                                    formSelects.render();
                                    form.render();
                                }
                            })
                        }
                    });
                    break;
            }

            return false;
        });

        formSelects.render();
        form.render();

    
        $("#file").change(function(){
            //创建FormData对象
            var data = new FormData();
            //为FormData对象添加数据
            $.each($('#file')[0].files, function(i, file) {
                data.append('upload_file'+i, file);
            });

           console.log(data);

        $.ajax({
                url:'/api/upload/do',
                type:'POST',
                data:data,
                cache: false,
                contentType: false, //不可缺参数
                processData: false,     //不可缺参数
                success:function(data){
                    console.log(data);

               var res = ""; 
            $.each(data.result,function(k,v){
                res+= `<div class="add-item-files-span">`+k+`：`+v+`<span class="close" onclick="removefile(this)">X</span><input type='hidden' value=`+v+` name=`+k+` class='filebox2'>
            </div>`;    

            });

               $("#filebox2").append(res);

                },
                error:function(){
                    alert('上传出错');
                    $(".loading").hide();   //加载失败移除加载图片
                }
            });
        });





 var editdata = JSON.parse(window.localStorage.getItem('data'));


         if (editdata) { 
            console.log(editdata);

            $("input[name='address']").val(editdata.address);
            $("input[name='contact']").val(editdata.contact);
            $("textarea[name='info']").val(editdata.info);
            $("input[name='name']").val(editdata.name);
            $("input[name='phone']").val(editdata.phone);
            $("input[name='ramark']").val(editdata.ramark);
            $("input[name='id']").val(editdata.id);
            // $("select[name='type']").val(editdata.type);


            var topts = "";

        layui.use('form', function () {
                            var form = layui.form;
                            // console.log(res.data);
                           
                            // $("#type").val(editdata.type);
                            console.log(editdata.type);
                            $("#value").find("option[value='"+editdata.type+"']").attr("selected", true);
                            form.render();
                        });

                formSelects.render();
                form.render();



            var fileopt = "";
            $.ajax({
                url:'/api/Files/getfiles?spid='+editdata.id+"&type=3",
                type:'GET',
                cache: false,
                contentType: false, //不可缺参数
                processData: false,     //不可缺参数
                success:function(data){

                  console.log(data);

                  $.each(data.result,function(k,v){
                      fileopt+=`<div class="layui-col-md2"><a href=`+v.filepath.replace(/uploadfiles/,"files")+`><i class="layui-icon layui-icon-file" style="font-size: 30px; color: #1E9FFF;"></i><span>`+v.filename+`</span></a><input type='hidden' value=`+v.filepath+` name=`+v.filename+` class='filebox2'><i class="layui-icon layui-icon-delete re">delete</i>
                    </div>`; 
                  });
                    
                           
                  $("#filebox2").append(fileopt);

             }

           })


form.render(); //更新全部
form.render('select');

         }   

        });
</script>
