<style type="text/css">

#app-sidebar, #app-sidebar .layui-side-scroll, #app-sidebar .layui-nav-tree, #app-sidebar .layui-logo {
  width: 200px;}

  #app-sidebar .layui-side-scroll {
  padding-right: 0px;
}


.layui-body, #app-header .layui-layout-left, .nepadmin-tabs-wrap .nepadmin-tabs-menu, .nepadmin-tabs-wrap .nepadmin-tabs-action {
  left: 200px;}

</style>
<div class="layui-layout layui-layout-admin">
  <div class="layui-header" id="app-header">
    <script
      type="text/html"
      template
      lay-done="layui.element.render('nav','nepadmin-header')"
    >
      <ul class="layui-nav layui-layout-left" lay-filter="nepadmin-header">
          <li class="layui-nav-item" lay-unselect>
              <a nepadmin-event="flexible" title="侧边伸缩">
                  <i class="layui-icon layui-icon-shrink-right"></i>
              </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
              <a nepadmin-event="prev" title="返回上一页">
                  <i class="layui-icon layui-icon-prev"></i>
              </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
              <a onclick="layui.view.tab.refresh()" title="刷新">
                  <i class="layui-icon layui-icon-refresh-3"></i>
              </a>
          </li>
          <!--<li class="layui-nav-item layui-hide-xs" lay-unselect>-->
              <!--<a href="https://www.layui.com/" target="_blank" title="Layui">-->
                  <!--<i class="layui-icon layui-icon-website"></i>-->
              <!--</a>-->
          <!--</li>-->

          <!--<li class="layui-nav-item layui-hide-xs" lay-unselect>-->
              <!--<input type="text" placeholder="Search / 搜索 ..." autocomplete="off" class="layui-input layui-search-input" nepadmin-event="serach">-->
          </li>
      </ul>
      <ul class="layui-nav layui-layout-right" lay-filter="nepadmin-header">

          <li class="layui-nav-item layui-hide-xs" lay-unselect>
              <a nepadmin-event="fullscreen" title="切换全屏">
                  <i class="layui-icon layui-icon-screen-full"></i>
              </a>
          </li>
          <!-- <li class="layui-nav-item layui-hide-xs" lay-unselect>
              <a title="APP 下载" lay-popup="{url:'popup/phone','offset':'rt',area:['400px','100%'],anim:5}">
                  <i class="layui-icon layui-icon-cellphone"></i>
              </a>
          </li>
          <li class="layui-nav-item" lay-unselect>
              <a lay-href="app/message/" nepadmin-event="message" title="消息提醒">
                  <i class="layui-icon layui-icon-notice"></i>
                  <span class="layui-badge-dot message-dot"></span>
              </a>
          </li> -->
          <li class="layui-nav-item" lay-unselect>
              <a class="layui-hide-xs">
                  欢迎回来，{{ layui.admin.data()['user'].u_name  }}
                  <i class="layui-icon layui-icon-triangle-d"></i>
              </a>
              <a class="layui-hide-sm layui-show-xs-inline-block">
                  <i class="layui-icon layui-icon-username"></i>
              </a>
              <dl class="layui-nav-child">
                  <dd><a   class="layui-btn pwd-action">修改密码</a></dd>
                 <!--  <dd><a>认证信息</a></dd>
 -->                  <hr/>
                  <dd><a href="javascript:void(0);" nepadmin-event="logout">退出登录</a></dd>
              </dl>
          </li>
      </ul>
    </script>
  </div>

  <div class="nepadmin-tabs-hidden">
    <script type="text/html" id="TPL-app-tabsmenu" template>
      {{# if(layui.conf.viewTabs == true){ }}
      <div class="nepadmin-tabs-wrap">
          <span class="nepadmin-tabs-btn nepadmin-tabs-action nepadmin-tabs-prev" data-type="prev">
              <i class="layui-icon layui-icon-left"></i>
          </span>
          <span class="nepadmin-tabs-btn nepadmin-tabs-action nepadmin-tabs-next" data-type="next">
              <i class="layui-icon layui-icon-right"></i>
          </span>
          <span class="nepadmin-tabs-btn nepadmin-tabs-action nepadmin-tabs-down" data-type="down">
              <i class="layui-icon layui-icon-close"></i>
          </span>
          <ul class="nepadmin-tabs-menu">
              {{# layui.each(layui.view.tab.data,function(i,item){ }}<li data-type="page" class="nepadmin-tabs-btn" lay-url="{{item.fileurl}}"><i class="nepadmin-tabs-ball"></i>{{ item.title }}<b class="layui-icon layui-icon-close nepadmin-tabs-close"></b></li>{{# }) }}
          </ul>
      </div>
      {{# } }}
    </script>
  </div>

  <!-- 侧边菜单 -->
  <div class="layui-side" id="app-sidebar">
    <div class="layui-side-scroll">
      <div class="layui-logo"><span> Chemical</span></div>
      <script
        type="text/html"
        template
        lay-api="getMenu"
        lay-done="layui.element.render('nav','nepadmin-sidebar');layui.admin.sidebarFocus()"
      >
        <ul class="layui-nav layui-nav-tree" lay-filter="nepadmin-sidebar" >
            {{#
                function __createSlidebar(data,index){
                    if(!data || data.length == 0) return '';
                    var html = '<dl class="layui-nav-child">';
                    layui.each(data,function(i,child){
                        if (child.childs){
                            child.auth_rules == '';
                        }
                        html += '<dd><a layadmin-event="refresh" style="padding-left:'+(index == 0 ? 50 : 50 + index * 20)+'px" target="'+(child.target||'')+'" lay-href="'+ (child.auth_rules||'') +'">' + child.auth_name + '</a>';
                        if(child.childs) html += __createSlidebar(child.childs,index+1);
                        html += '</dd>';
                    });
                    html = html +'</dl>';
                    return html;
                }
                layui.each(d,function(i,child){
            }}
            <li class="layui-nav-item">
                {{# if (child.childs && child.childs.length > 0){ }}
                {{# child.auth_rules = null; }}
                {{# } }}
                <a lay-href="{{child.auth_rules||''}}" target="{{child.target||''}}" title="{{child.auth_name}}"><i class="layui-icon {{child.auth_icon}}"></i>{{child.auth_name}} {{# if(child.notice){ }}<span class="layui-badge">{{ child.notice }}</span>{{# } }}</a>
                {{ __createSlidebar(child.childs,0) }}
            </li>
            {{# }) }}
        </ul>
      </script>
    </div>
  </div>

  <!-- 主体内容 -->
  <div class="layui-body"   id="app-body"></div>
</div>
<!-- 面板 -->
<div id="editpwd_bd" hidden>
    <div style="padding: 10px;">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">修改密码</label>
                <div class="layui-input-block">
                    <input type="text" id="pwd" required  lay-verify="required" placeholder="原始密码" autocomplete="off" class="layui-input">
                </div>
            </div>

             <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-block">
                    <input type="password" id="pwd1" required  lay-verify="required" placeholder="新密码" autocomplete="off" class="layui-input">
                </div>
            </div>

             <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-block">
                    <input type="password" id="pwd2" required  lay-verify="required" placeholder="确认密码" autocomplete="off" class="layui-input">
                </div>
            </div>


           
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="subpwd">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

    </div>
</div>


<script>
  layui.use(
    ['admin', 'echarts', 'form','element', 'helper', 'table', 'util', 'siam'],
    function(admin, echarts, element, helper, table, util) {
      var $ = layui.jquery
      var view = $('#VIEW-chart-index');
var form= layui.form;
              $('body').on('click', '.pwd-action', function () {
            let type = $(this).data('type');

                    let addUserBd = $('#editpwd_bd');
                    let html = addUserBd.html();
                    if (html === ''){return false;} // 没有判断 则会因为tab的伪刷新 导致监听n多次点击按钮事件 打开n个弹窗
                    addUserBd.html('');
                    admin.popup({
                        content: html,
                        title: 'modify password',
                        area: ['70%', '70%'],
                        shadeClose: false,
                        cancel: function(index, layero){
                            $("#editpwd_bd").html(this.content);
                        }
                    });
       
        });

















form.on('submit(subpwd)', function (data) {


  var old = $("#pwd").val();
  var pwd1 = $("#pwd1").val();
  var pwd2 = $("#pwd2").val();


  if (pwd1 != pwd2) {
    alert("两次密码输入不一致");
    return false;
  }







            admin.post({
                api: 'modifypwd',
                data:{"pwd1":pwd1,'u_password':old},
                success:function (res) {
                  console.log(res);

                  if (res.result.code==200) {


                         layer.alert("修改成功",{
                                yes:function () {
                                    layui.view.tab.refresh();
                                    layer.closeAll('page');
                                    layer.closeAll();
                                   
                                }
                            });

                  }else{
                       
                        
                    
                         layer.alert(res.result.msg,{
                                // yes:function () {
                                   
                                //     layer.closeAll('page');
                                   
                                   
                                // }
                            })



                  }
                
                }
            });
            return false;
        });



})
</script>