<link rel="stylesheet" href="./nepadmin/css/formSelects.css" media="all">
<div class="layui-fluid" lay-title="产品管理">
    <div class="layui-row layui-col-space15">


        <div class="layui-col-md12">
            <form class="layui-card layui-form" layui-filter="add-role">
                <div class="layui-card-header" id="rolebd_status">借贷管理</div>
                <div class="layui-card-body layui-row layui-col-space10">
                    <div class="layui-col-md6">
                         <label class="layui-form-label">客户姓名</label>
                          <div class="layui-input-block">
                        <input type="text" name="customer" placeholder="客户" autocomplete="off" lay-verify="required" class="layui-input">
                    </div>
                    </div>
                    <div class="layui-col-md6">
                         <label class="layui-form-label">客户电话</label>
                          <div class="layui-input-block">
                        <input type="text" lay-verify="required"  name="phone" placeholder="联系手机号码" autocomplete="off" class="layui-input">
                    </div>
                    </div>

                    <div class="layui-col-md6">
                            
                            <label class="layui-form-label">银行</label>
                            <div class="layui-input-block">
                              <select  name="bank" id="bank" lay-verify="required">
                               
                              </select>
                            </div>

                    </div>


                     <div class="layui-col-md6">
                            
                            <label class="layui-form-label">民间</label>
                            <div class="layui-input-block">
                              <select name="mj" id="mj" lay-verify="required">
                               
                              </select>
                            </div>

                    </div>

                     <div class="layui-col-md6">
                            
                            <label class="layui-form-label">信贷</label>
                            <div class="layui-input-block">
                              <select name="xd" id="xd" lay-verify="required">
                               
                              </select>
                            </div>

                    </div>



                     <div class="layui-col-md6">
                            
                            <label class="layui-form-label">车贷</label>
                            <div class="layui-input-block">
                              <select name="card" id="card" lay-verify="required">
                               
                              </select>
                            </div>

                    </div>






                    <div class="layui-col-md6">
                        <input type="number" lay-verify="required"  name="cash" placeholder="借款总金额" autocomplete="off" class="layui-input">
                    </div>



                  <div class="layui-col-md6">
                            
                            <label class="layui-form-label">客服</label>
                            <div class="layui-input-block">
                              <select name="helper" id="helper" lay-verify="required">
                               
                              </select>
                            </div>

                    </div>



                    <div class="layui-col-md6">
                        <label class="layui-form-label">放款时间</label>
                         <div class="layui-input-block">
                        <input lay-verify="required" type="date" name="approvetime" autocomplete="off" class="layui-input">
                    </div>
                    </div>

                    <div class="layui-col-md6">
                        <label class="layui-form-label">到期时间</label>
                         <div class="layui-input-block">
                        <input type="date" lay-verify="required" name="expiretime" autocomplete="off" class="layui-input">
                    </div>
                    </div>

                    <div class="layui-col-md6">
                        <label class="layui-form-label">还款日</label>
                         <div class="layui-input-block">
                        <input type="date" lay-verify="required" name="backtime" autocomplete="off" class="layui-input">
                    </div>
                    </div>



               

              

                     <div class="layui-col-md6">
                            
                            <label class="layui-form-label">业务来源</label>
                            <div class="layui-input-block">
                              <select name="fromwho" id="fromwho" lay-verify="required">
                               
                              </select>
                            </div>

                    </div>



                       <div class="layui-col-md6">
                            
                            <label class="layui-form-label">还款方式</label>
                            <div class="layui-input-block">
                              <select name="way" id="way" lay-verify="required">
                               
                              </select>
                            </div>

                    </div>



               


                     <div class="layui-col-md6">
                            
                            <label class="layui-form-label">归本</label>
                            <div class="layui-input-block">
                              <select name="sourcecash" id="sourcecash" lay-verify="required">
                               
                              </select>
                            </div>

                    </div>


                       <div class="layui-col-md6">
                            
                            <label class="layui-form-label">利率</label>
                            <div class="layui-input-block">
                              <select name="rate" id="rate" lay-verify="required">
                               
                              </select>
                            </div>

                    </div>


                      <div class="layui-col-md6">
                            
                            <label class="layui-form-label">客户类别</label>
                            <div class="layui-input-block">
                              <select name="customertype" id="customertype" lay-verify="required">
                               
                              </select>
                            </div>

                    </div>


                    <div class="layui-form-item">
                        <label class="layui-form-label">是否过桥垫资</label>
                        <div class="layui-input-block">
                          <input type="radio" lay-filter="ra" name="isbridge" value="1" title="是">
                          <input type="radio" name="isbridge"  lay-filter="ra" value="0" title="否" checked>
                        </div>
                      </div>


                      <div class="layui-col-md6" id="brdigecon">
                       
                    </div>

                      <div class="layui-col-md6">
                        <label>备注</label>
                        <textarea name="remark"></textarea>
                    </div>

                        
                   
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="add-cus">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- 添加角色结束 -->

       
    </div>
</div>
<!-- 角色列表bar tool -->
<script type="text/html" id="role_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use(['admin', 'table', 'form', 'jquery', 'laytpl', 'formSelects'], function (admin) {
        var $ = layui.jquery;
        var element = layui.element;
        var laytpl = layui.laytpl;
        var formSelects = layui.formSelects;
        var table = layui.table;
        var rolebd_status_value = 'add';
        var form = layui.form;

        // 加载权限列表
        admin.post({
            api: 'getcatelist',
            success:function (res) {
                if (res.result.list.length > 0){
                    let html = "";
                    $.each(res.result.list, function (index, item) {
                        html += '<option value="'+item.id+'">'+item.name+'</option>';
                    });
                    $("#cate").html(html);
                }

                formSelects.render();
                form.render();
            }
        });





     admin.post({
            api: 'gethelps',
            data:{"pageSize":10000000},
            success:function (res) {
                if (res.result.list.length > 0){
                    let html = "";
                    $.each(res.result.list, function (index, item) {
                        html += '<option value="'+item.id+'">'+item.name+'</option>';
                    });
                    $("#helper").html(html);
                }

                formSelects.render();
                form.render();
            }
        });


 admin.post({
            api: 'getbanks',
            data:{"pageSize":10000000},
            success:function (res) {
                if (res.result.list.length > 0){
                    let html = `<option value="None">blank</option>`;
                    $.each(res.result.list, function (index, item) {
                        html += '<option value="'+item.name+'">'+item.name+'</option>';
                    });
                    $("#bank").html(html);
                }

                formSelects.render();
                form.render();
            }
        });


 admin.post({
            api: 'getcustypes',
             data:{"pageSize":10000000},
            success:function (res) {
                if (res.result.list.length > 0){
                 let html = "";
                    $.each(res.result.list, function (index, item) {
                        html += '<option value="'+item.name+'">'+item.name+'</option>';
                    });
                    $("#customertype").html(html);
                }

                formSelects.render();
                form.render();
            }
        });


         admin.post({
            api: 'getmjs',
             data:{"pageSize":10000000},
            success:function (res) {
                if (res.result.list.length > 0){
                  let html = `<option value="None">blank</option>`;
                    $.each(res.result.list, function (index, item) {
                        html += '<option value="'+item.name+'">'+item.name+'</option>';
                    });
                    $("#mj").html(html);
                }

                formSelects.render();
                form.render();
            }
        });


  admin.post({
            api: 'getxds',
             data:{"pageSize":10000000},
            success:function (res) {
                if (res.result.list.length > 0){
                   let html = `<option value="None">blank</option>`;
                    $.each(res.result.list, function (index, item) {
                        html += '<option value="'+item.name+'">'+item.name+'</option>';
                    });
                    $("#xd").html(html);
                }

                formSelects.render();
                form.render();
            }
        });


  admin.post({
            api: 'getgbs',
             data:{"pageSize":10000000},
            success:function (res) {
                if (res.result.list.length > 0){
                    let html = "";
                    $.each(res.result.list, function (index, item) {
                        html += '<option value="'+item.name+'">'+item.name+'</option>';
                    });
                    $("#sourcecash").html(html);
                }

                formSelects.render();
                form.render();
            }
        });


    admin.post({
            api: 'getrates',
             data:{"pageSize":10000000},
            success:function (res) {
                if (res.result.list.length > 0){
                    let html = "";
                    $.each(res.result.list, function (index, item) {
                        html += '<option value="'+item.name+'">'+item.name+'</option>';
                    });
                    $("#rate").html(html);
                }

                formSelects.render();
                form.render();
            }
        });



    admin.post({
            api: 'getcards',
             data:{"pageSize":10000000},
            success:function (res) {
                if (res.result.list.length > 0){
                     let html = `<option value="None">blank</option>`;
                    $.each(res.result.list, function (index, item) {
                        html += '<option value="'+item.name+'">'+item.name+'</option>';
                    });
                    $("#card").html(html);
                }

                formSelects.render();
                form.render();
            }
        });


      admin.post({
            api: 'getways',
            success:function (res) {
                if (res.result.list.length > 0){
                    let html = "";
                    $.each(res.result.list, function (index, item) {
                        html += '<option value="'+item.name+'">'+item.name+'</option>';
                    });
                    $("#way").html(html);
                }

                formSelects.render();
                form.render();
            }
        });



  admin.post({
            api: 'getfrom',
             data:{"pageSize":10000000},
            success:function (res) {
                if (res.result.list.length > 0){
                    let html = "";
                    $.each(res.result.list, function (index, item) {
                        html += '<option value="'+item.name+'">'+item.name+'</option>';
                    });
                    $("#fromwho").html(html);
                }

                formSelects.render();
                form.render();
            }
        });


var isbridge = $("input:radio[name='isbridge']:checked").val();


if (isbridge == 1) {    $("#brdigecon").html(`<input type="number" name="bridgecash" placeholder="垫桥资金" autocomplete="off" class="layui-input" value="0">`);
}

 form.on('radio(ra)', function(data){
    console.log(data.elem); //得到radio原始DOM对象
    console.log(data.value); //被点击的radio的value值

    if (data.value == 1) {
        console.log(11111111111111);
    $("#brdigecon").html(`<input type="number" name="bridgecash" placeholder="垫桥资金" autocomplete="off" class="layui-input" value="0">`);
  }else{
    console.log("00000");
$("#brdigecon").html("");
  }

    formSelects.render();
                                    form.render();



})
 


        // 加载角色列表
        admin.renderTable({
            elem: '#role_list'
            ,api: 'getAllRole'
            ,page: false //开启分页
            ,cols: [[ //表头
                {field: 'role_id', title: '角色id'}
                ,{field: 'role_name', title: '角色名'}
                // ,{field: 'role_status', title: '角色状态'
                //     ,templet: function(d){
                //         return d.role_status === 0 ? '正常' : '禁用';
                //     }
                // }
                ,{toolbar: '#role_bar'}
            ]]
        });
        // 添加角色添加
        form.on('submit(add-cus)', function (data) {
            switch (rolebd_status_value) {
                case 'add':
                    admin.post({
                        api: "addborrow",
                        data: data.field,
                        success:function (res) {
                            layer.alert("录入客户成功",{
                                yes:function () {
                                    layui.view.tab.refresh();
                                    layer.closeAll();
                                    formSelects.render();
                                    form.render();
                                }
                            })
                        }
                    });
                    break;
                case 'edit':
                    admin.post({
                        api: "ediRole",
                        data: data.field,
                        success:function (res) {
                            layer.alert("编辑角色成功",{
                                yes:function () {
                                    layui.view.tab.refresh();
                                    layer.closeAll();
                                    formSelects.render();
                                    form.render();
                                }
                            })
                        }
                    });
                    break;
            }

            return false;
        });

        formSelects.render();
        form.render();

        //监听工具条
        table.on('tool(role_table)', function(obj){
            let data = obj.data;
            let layEvent = obj.event;
            let tr = obj.tr;

            if(layEvent === 'detail'){
                //do somehing
            } else if(layEvent === 'del'){
                layer.confirm('真的删除行么?用户权限会失效的!', function(index){
                    admin.post({
                        api: "delRole",
                        data: data,
                        success:function (res) {
                            layer.alert("删除角色成功",{
                                yes:function () {
                                    layui.view.tab.refresh();
                                    layer.closeAll();
                                    formSelects.render();
                                    form.render();
                                }
                            })
                        }
                    });
                });
            } else if(layEvent === 'edit'){
                // 请求信息接口，然后打开弹窗
                admin.post({
                    api: 'getRoleInfo',
                    data: {
                        role_id:data.role_id
                    },
                    success:function (res) {
                        rolebd_status_value = 'edit';
                        $('#rolebd_status').html("修改角色 - " + res.result.role_name + " <div class='layui-btn layui-btn-xs' id='reset_add_role'>恢复添加</div>");
                        $("input[name=role_name]").val(res.result.role_name);
                        $("input[name=role_id]").val(res.result.role_id);
                        form.render();
                        formSelects.value('role_auth', res.result.role_auth.split(","));
                    }
                })
            }
        });

        // 恢复编辑面板为添加
        $('body').on('click', '#reset_add_role', function () {
            $('#rolebd_status').html("添加角色");
            rolebd_status_value = 'add';
            $("input[name=role_name]").val('');
            formSelects.value('role_auth', []);
            form.render();
        });

    });
</script>
