<link rel="stylesheet" href="./nepadmin/css/formSelects.css" media="all">
<div class="layui-fluid" lay-title="供应商管理">
    <div class="layui-row layui-col-space15">


        <div class="layui-col-md12">
            <form class="layui-card layui-form" layui-filter="add-role">
                <div class="layui-card-header" id="rolebd_status">添加供应商</div>
                <div class="layui-card-body layui-row layui-col-space10">
                    <div class="layui-col-md4">
                        <label class="layui-form-label">名称</label>
                        <div class="layui-input-block">
                        <input type="text" name="name" placeholder="供应商名称" autocomplete="off" lay-verify="required" class="layui-input">
                    </div>
                    </div>
                    <div class="layui-col-md8">
                         <label class="layui-form-label">地址</label>
                        <div class="layui-input-block">
                        <input type="text" name="address" placeholder="地址" autocomplete="off" class="layui-input" lay-verify="required">
                    </div>
                    </div>
                       <div class="layui-col-md6">
                         <label class="layui-form-label">联系人</label>
                        <div class="layui-input-block">
                        <input type="text" name="contactor" placeholder="联系人" autocomplete="off" class="layui-input" lay-verify="required">
                    </div>
                    </div>
                     <div class="layui-col-md6">
                         <label class="layui-form-label">电话</label>
                        <div class="layui-input-block">
                        <input type="text" name="phone" placeholder="phonr number" autocomplete="off" class="layui-input" lay-verify="required">
                    </div>
                    </div>
                     <div class="layui-col-md12">
                         <label class="layui-form-label">其他信息</label>
                        <div class="layui-input-block">
                        <input type="text" name="info" placeholder="info" autocomplete="off" class="layui-input" lay-verify="required">
                    </div>
                    </div>


        


                     <div class="layui-col-md6">
                        <label class="layui-form-label">备注信息</label>
                        <div class="layui-input-block">
                        <input type="text" name="remark" placeholder="remark" autocomplete="off" class="layui-input" lay-verify="required">
                    </div>
                    </div>

                     <div class="layui-col-md6">
                            
                            <label class="layui-form-label">供应商分类</label>
                            <div class="layui-input-block">
                              <select name="type" id="type" lay-verify="required">
                               
                              </select>
                            </div>

                    </div>


                <div class="layui-col-md12">
                         <label class="layui-form-label">成交数</label>
                        <div class="layui-input-block">
                        <input type="number" name='donemunber' value="1" autocomplete="off" class="layui-input" lay-verify="required">
                    </div>
                    </div>
                
                     <div class="layui-col-md12">
        <label><input type="file" multiple="multiple" class="add-item-up-file"   name="file[]" id="file" /></label>
                           
                        </div>

<div class="layui-col-md12" id="filebox2">
    

</div>
                        <div class="layui-form-item">
                       
                            <a class="layui-btn addcon" >添加联系人</a>
                 
                    </div>

                    <div class="layui-col-md12" id="lxr"></div>




                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="add-supply">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- 添加角色结束 -->

       
    </div>
</div>
<!-- 角色列表bar tool -->
<script type="text/html" id="role_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use(['admin', 'table', 'form', 'jquery', 'laytpl', 'formSelects'], function (admin) {
        var $ = layui.jquery;
        var element = layui.element;
        var laytpl = layui.laytpl;
        var formSelects = layui.formSelects;
        var table = layui.table;
        var rolebd_status_value = 'add';
        var form = layui.form;

        // 加载权限列表
        admin.post({
            api: 'getAllAuth',
            success:function (res) {
                if (res.result.list.length > 0){
                    let html = "";
                    $.each(res.result.list, function (index, item) {
                        html += '<option value="'+item.auth_id+'">'+item.auth_name+'</option>';
                    });
                    $("#role_auth").html(html);
                }


                formSelects.render();
                form.render();
            }
        });


        // 加载权限列表
        admin.post({
            api: 'getsupplytypes',
            success:function (res) {
                if (res.result.list.length > 0){
                    let html = "";
                    $.each(res.result.list, function (index, item) {
                        html += '<option value="'+item.name+'">'+item.name+'</option>';
                    });
                    $("#type").html(html);
                }

                formSelects.render();
                form.render();
            }
        });



        // 加载角色列表
        admin.renderTable({
            elem: '#role_list'
            ,api: 'getAllRole'
            ,page: false //开启分页
            ,cols: [[ //表头
                {field: 'role_id', title: '角色id'}
                ,{field: 'role_name', title: '角色名'}
                // ,{field: 'role_status', title: '角色状态'
                //     ,templet: function(d){
                //         return d.role_status === 0 ? '正常' : '禁用';
                //     }
                // }
                ,{toolbar: '#role_bar'}
            ]]
        });
   


        form.on('submit(add-supply)', function (data) {
            switch (rolebd_status_value) {
                case 'add':
                files2 = [];
                jsdata = {};

                dataforms = data.field;
                   $(".filebox2").each(function(){
                    var filepath = $(this).attr("value");
                    var filename = $(this).attr("name");
                    files2.push({"filename":filename,"filepath":filepath});
                   });


                   jsdata['files'] = files2;

                   jsdata['data'] = dataforms;

                   console.log(jsdata);

                    admin.post({
                        api: "addSupply",
                        data: jsdata,
                        success:function (res) {
                            layer.alert("添加供应商成功",{
                                yes:function () {
                                    layui.view.tab.refresh();
                                    layer.closeAll();
                                    formSelects.render();
                                    form.render();
                                }
                            })
                        }
                    });
                    break;
                case 'edit':
                    admin.post({
                        api: "ediRole",
                        data: data.field,
                        success:function (res) {
                            layer.alert("编辑角色成功",{
                                yes:function () {
                                    layui.view.tab.refresh();
                                    layer.closeAll();
                                    formSelects.render();
                                    form.render();
                                }
                            })
                        }
                    });
                    break;
            }

            return false;
        });

        formSelects.render();
        form.render();

        //监听工具条
        table.on('tool(role_table)', function(obj){
            let data = obj.data;
            let layEvent = obj.event;
            let tr = obj.tr;

            if(layEvent === 'detail'){
                //do somehing
            } else if(layEvent === 'del'){
                layer.confirm('真的删除行么?用户权限会失效的!', function(index){
                    admin.post({
                        api: "delRole",
                        data: data,
                        success:function (res) {
                            layer.alert("删除角色成功",{
                                yes:function () {
                                    layui.view.tab.refresh();
                                    layer.closeAll();
                                    formSelects.render();
                                    form.render();
                                }
                            })
                        }
                    });
                });
            } else if(layEvent === 'edit'){
                // 请求信息接口，然后打开弹窗
                admin.post({
                    api: 'getRoleInfo',
                    data: {
                        role_id:data.role_id
                    },
                    success:function (res) {
                        rolebd_status_value = 'edit';
                        $('#rolebd_status').html("修改角色 - " + res.result.role_name + " <div class='layui-btn layui-btn-xs' id='reset_add_role'>恢复添加</div>");
                        $("input[name=role_name]").val(res.result.role_name);
                        $("input[name=role_id]").val(res.result.role_id);
                        form.render();
                        formSelects.value('role_auth', res.result.role_auth.split(","));
                    }
                })
            }
        });

        // 恢复编辑面板为添加
        $('body').on('click', '#reset_add_role', function () {
            $('#rolebd_status').html("添加角色");
            rolebd_status_value = 'add';
            $("input[name=role_name]").val('');
            formSelects.value('role_auth', []);
            form.render();
        });

        $("#file").change(function(){
            //创建FormData对象
            var data = new FormData();
            //为FormData对象添加数据
            $.each($('#file')[0].files, function(i, file) {
                data.append('upload_file'+i, file);
            });

           console.log(data);

        $.ajax({
                url:'/api/upload/do',
                type:'POST',
                data:data,
                cache: false,
                contentType: false, //不可缺参数
                processData: false,     //不可缺参数
                success:function(data){
                    console.log(data);

               var res = ""; 
            $.each(data.result,function(k,v){
                res+= `<div class="add-item-files-span">`+k+`：`+v+`<span class="close" onclick="removefile(this)">X</span><input type='hidden' value=`+v+` name=`+k+` class='filebox2'>
            </div>`;    

            });

               $("#filebox2").append(res);

                },
                error:function(){
                    alert('上传出错');
                    $(".loading").hide();   //加载失败移除加载图片
                }
            });
        });






         $('body').on('click', '.addcon', function () {
            var con = "";


            con+=` <div class="layui-col-md12">
                           <div class="layui-col-md4">
                        <input type="text" name="conname[]" placeholder="联系人姓名" autocomplete="off" class="layui-input" lay-verify="required">
                             </div>

                      <div class="layui-col-md4">
                        <input type="text" name="conphone[]" placeholder="联系人手机号码" autocomplete="off" class="layui-input" lay-verify="required">
                    </div>

                       <a class="layui-btn additem" >添加产品</a>


                    </div>`;

                    $("#lxr").append(con);




        });






         $('body').on('click', '.additem', function (event) {
            var con = "";



        admin.post({
            api: 'getproducts',
            async: false,
            success:function (res) {
                if (!res.result.list){ layer.alert('获取产品列表失败'); }
                let html = '';
                $.each(res.result.list, function (index, item) {
                    
                    html += '<option value="'+item.id+'">'+item.name+'</option>';
                });

                console.log(html);
              




            con+=` <div class="layui-col-md12" >
                            <div class="layui-form-item">
                <label class="layui-form-label">产品</label>
                <div class="layui-input-block">
                    <select name="item[]" xm-select="item`+Math.floor(Math.random()*100)+`" class="itembox`+Math.floor(Math.random()*100)+`" xm-select-search="" xm-select-search-type="dl">
                    `+html+`
                    </select>
                </div>
            </div>


                    </div>`;
                    console.log(con);

                $("#lxr").append(con);

                 formSelects.render();
                form.render();
            }
        });










        });


    });
</script>
