<style type="text/css">
  .nepadmin-sidebar-shrink #app-sidebar {
    left: 0;
    width: 0px;
}

.nepadmin-sidebar-shrink .layui-body, .nepadmin-sidebar-shrink #app-header .layui-layout-left, .nepadmin-sidebar-shrink .nepadmin-tabs-wrap .nepadmin-tabs-menu, .nepadmin-sidebar-shrink .nepadmin-tabs-wrap .nepadmin-tabs-prev {
    left: 0px;
}
</style>
<link rel="stylesheet" href="./nepadmin/css/formSelects.css" media="all">
<div class="layui-fluid" lay-title="供应商管理">
    <div class="layui-row layui-col-space15">


        <div class="layui-col-md12">
            <form class="layui-card layui-form" layui-filter="add-supply_form">
                <div class="layui-card-header" id="rolebd_status">添加供应商</div>
                <div class="layui-card-body layui-row layui-col-space10">
                    <div class="layui-col-md6">
                        <label class="layui-form-label">名称</label>
                        <div class="layui-input-block">
                        <input type="text" name="name" placeholder="供应商名称" autocomplete="off" class="layui-input">
                    </div>
                    <input type="hidden" name="supplyid">
                    </div>


                     <div class="layui-col-md6">
                            
                            <label class="layui-form-label">供应商分类</label>
                            <div class="layui-input-block">
                              <select name="type" lay-search id="type">
                               
                              </select>
                            </div>

                    </div>






                    <div class="layui-col-md6">
                         <label class="layui-form-label">地址</label>
                        <div class="layui-input-block">
                        <input type="text" name="address" placeholder="地址" autocomplete="off" class="layui-input">
                    </div>
                    </div>
              
                <div class="layui-col-md6">
                         <label class="layui-form-label">成交数</label>
                        <div class="layui-input-block">
                        <input type="number" name='donemunber' value="1" autocomplete="off" class="layui-input" lay-verify="required">
                    </div>
                    </div>
                    

                     <div class="layui-col-md12">
                         <label class="layui-form-label">开票资料</label>
                        <div class="layui-input-block">
                        <textarea name="info" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                    </div>


        
                     <div class="layui-col-md12">
                        <label class="layui-form-label">备注信息</label>
                        <div class="layui-input-block">
      <textarea name="remark" placeholder="请输入内容" class="layui-textarea"></textarea>
    </div>

                    </div>

                    


                
                       <div class="layui-form-item">
                            
                            <button type="button" class="layui-btn" id="test1">
  <i class="layui-icon">&#xe67c;</i>上传文件
</button>
                           
                        </div>


<div class="layui-col-md12" id="filebox2">
    

</div>
                        <div class="layui-form-item">
                       
                            <a class="layui-btn addcon" >添加联系人</a>
                 
                    </div>

                    <div class="layui-col-md12" id="lxr">
                        


                        
                    </div>





                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="edit-supply">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- 添加角色结束 -->

       
    </div>
</div>
<!-- 角色列表bar tool -->
<script type="text/html" id="role_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>





<div class="layui-form-item" id="addboxlrx" hidden>
 <div class="addboxlrx">
    <i class="layui-icon layui-icon-delete re">delete</i>
  <div class="layui-inline">

    <label class="layui-form-label">联系人</label>
    <div class="layui-input-inline" style="width: 100px;">
      <input type="text" name="conname[]" t='name' placeholder="..." autocomplete="off" class="layui-input">
    </div>
    
  </div>


  <div class="layui-inline">
    <div class="layui-form-mid">手机号</div>
    <div class="layui-input-inline" style="width: 150px;">
      <input type="text" name="conphone[]" t='phone' placeholder="188..." autocomplete="off" class="layui-input">
    </div>
  </div>



<a class="layui-btn-danger layui-btn additem">添加产品</a>
  <div class="layui-inline">
      


   
  </div>
  


  </div>
</div>





<script>
    layui.use(['admin', 'table', 'form','upload', 'jquery', 'laytpl', 'formSelects'], function (admin) {
        var $ = layui.jquery;
        var element = layui.element;
        var laytpl = layui.laytpl;
        var formSelects = layui.formSelects;
        var table = layui.table;
        var rolebd_status_value = 'add';
        var form = layui.form;
        var upload = layui.upload;
       
$("#app").addClass("nepadmin-sidebar-shrink");

  

        form.on('submit(edit-supply)', function (data) {
          
                    files2 = [];
                    jsdata = {};

                    dataforms = data.field;

                       $(".filebox2").each(function(){
                        var filepath = $(this).attr("value");
                        var filename = $(this).attr("name");
                        files2.push({"filename":filename,"filepath":filepath});
                       });


                   var lxrarr = [];

                    $(".addboxlrx").each(function(){
                        var boxp = {};

                    var name = $(this).find("input[t='name']").val();
                    var phone = $(this).find("input[t='phone']").val();
                    var cusid = $(this).find("input[t='cusid']").val();


                    boxp['name'] = name;
                    boxp['phone'] = phone;
                    boxp['cid'] = cusid;
                    var pitem = [];
                    $(this).find(".conitembox").each(function(k,obj){
                        pitem.push($(obj).val());
                       
                    });
                    boxp['items'] = pitem;
                    lxrarr.push(boxp);
                    
                   });

                console.log(lxrarr);

                    admin.post({
                        api: "editSupply",
                        data: {"data":data.field,"lxrarr":lxrarr,'file':files2},
                        success:function (res) {


if (res.msg=='error') {

alert("供应商已存在");

return false;
}else{

 layer.alert("添加供应商成功",{
                                yes:function () {
                                    layer.close(window.localStorage.getItem('index_supply'));
                                    layer.closeAll();
                                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
parent.layer.close(index); //再执行关闭
                                  
                                   
                                }
                            })

}

                           








                        }
                    });
                 return false;
        
        });


       upload.render({
  elem: '#test1'
  ,url: '/api/upload/do',
  accept:'file'
  ,multiple: true
  ,allDone: function(obj){ //当文件全部被提交后，才触发
    console.log(obj.total); //得到总文件数
    console.log(obj.successful); //请求成功的文件数
    console.log(obj.aborted); //请求失败的文件数
  }
  ,done: function(res, index, upload){ //每个文件提交一次触发一次。详见“请求成功的回调”
    var file = res.result;
            $.each(file,function(k,v){
                    var  resfile= `<div class="layui-col-md2" style="border: antiquewhite;
    border-style: dashed;">
     <i class="layui-icon layui-icon-delete re" style="float:right">delete</i>

    <div class="layui-panel">
     
      <div style="padding: 30px;">
        <a href=`+v.replace(/uploadfiles/,"files")+`><i class="layui-icon layui-icon-file" style="font-size: 30px; color: #1E9FFF;"></i><span>`+k+`</span></a><input type='hidden' value="`+v+`" name="`+k+`" class='filebox2'>

      </div>
    
    </div>   
</div>`;   
                            $("#filebox2").append(resfile);
                  });

        }

});





         $('body').on('click', '.addcon', function () {
      
                    $("#lxr").append($("#addboxlrx").html());





        })



         $('body').on('click', '.additem', function (event) {
            var con = "";


            con+=`<div class="layui-input-inline" style="width: 150px;margin-right:5px;">
      <input style="border-color:#2e2929" type="text" autocomplete="off" class="layui-input conitembox" style="padding-left:10px;">
      <i class="layui-icon layui-icon-delete re">delete</i>
    </div>`;
                  

                $(this).next().append(con);


            });






             $('body').on('click','.re',function(){
                console.log("hello");


              $(this).parent().remove();
             });





         var editdata = JSON.parse(window.localStorage.getItem('data_supply'));


         console.log(editdata);

         if (editdata) {

      

            $("input[name='name']").val(editdata.name);
            $("input[name='address']").val(editdata.address);
            $("input[name='contactor']").val(editdata.contactor);
            $("input[name='phone']").val(editdata.phone);
             $("textarea[name='info']").val(editdata.info);

             $("input[name='supplyid']").val(editdata.id);

            $("input[name='donemunber']").val(editdata.donemunber);
      

            $("textarea[name='remark']").val(editdata.remark);

            var opt=``;
          admin.post({
            api: 'getsupplytypes',
            success:function (res) {
                if (res.result.list.length > 0){
                   
                    $.each(res.result.list, function (index, item) {

                      if (item.name==editdata.type) {

                          opt += '<option selected="true" value="'+item.name+'">'+item.name+'</option>';


                      }else{
                        opt += '<option value="'+item.name+'">'+item.name+'</option>';
                      }
                        
                   
                    });
                    $("#type").html(opt);
                      form.render('select');
                      }
                }

               
              
                
            }
        );









            var fileopt = "";

             $.ajax({
                url:'/api/Files/getfiles?spid='+editdata.id+"&type=1",
                type:'GET',
                cache: false,
                contentType: false, //不可缺参数
                processData: false,     //不可缺参数
                success:function(data){

                  console.log(data);
                  $.each(data.result,function(k,v){
                      



                    fileopt+=`<div class="layui-col-md2" style="border: antiquewhite;
    border-style: dashed;">
     <i class="layui-icon layui-icon-delete re" style="float:right">delete</i>
    <div class="layui-panel">
     
      <div style="padding: 30px;">
        <a href=`+v.filepath.replace(/uploadfiles/,"files")+`><i class="layui-icon layui-icon-file" style="font-size: 30px; color: #1E9FFF;"></i><span>`+v.filename+`</span></a><input type='hidden' value="`+v.filepath+`" name="`+v.filename+`" class='filebox2'>
      </div>
    
    </div>   
</div>`;

                  });
                    
                           
                  $("#filebox2").append(fileopt);

             }

           })

             
               $.ajax({
                url:'/api/Contactor/getOneBySupplyid?suid='+editdata.id,
                type:'GET',
                cache: false,
                contentType: false, //不可缺参数
                processData: false,     //不可缺参数
                success:function(data){
             

                    var contactarr=``;
                    $.each(data.result,function(k,obj){


                        console.log(obj);


                        var itemsatt=``;


                        console.log(obj.itemarr.length);
                        if (obj.itemarr.length>0) {
                        $.each(obj.itemarr,function(i,val){

                                itemsatt+=`<div class="layui-input-inline" style="width: 150px;margin-right:5px;">
      <input style="border-color:#2e2929" type="text" value="`+val+`" autocomplete="off" class="layui-input conitembox" style="padding-left:10px;"><i class="layui-icon layui-icon-delete re">delete</i>
    </div>`;


                        });
                    }

            contactarr+=`<div class="layui-form-item">
 <div class="addboxlrx">
 <input type='hidden' name='cid[]' t="cusid" value=`+obj.id+`>
  <i class="layui-icon layui-icon-delete re">delete</i>
  <div class="layui-inline">
    <label class="layui-form-label">联系人</label>
    <div class="layui-input-inline" style="width: 100px;">
      <input type="text" name="conname[]" t='name' value=`+obj.name+` placeholder="..." autocomplete="off" class="layui-input">

    </div>
    
  </div>

  <div class="layui-inline">
    <div class="layui-form-mid">手机号</div>
    <div class="layui-input-inline" style="width: 150px;">
      <input type="text" name="conphone[]" t='phone' value=`+obj.phone+` placeholder="188..." autocomplete="off" class="layui-input">
    </div>
  </div>



<a class="layui-btn-danger layui-btn additem">添加产品</a>
  <div class="layui-inline">
      
`+itemsatt+`

   
  </div>
  


  </div>
</div>
`;




                    });


                    $("#lxr").append(contactarr);

                }
 
         })

}

        });
</script>

