<link rel="stylesheet" href="./nepadmin/css/formSelects.css" media="all">
<style>
    .xm-select-dl{
        top:unset !important;
    }
</style>
<div class="layui-fluid" id="VIEW-sulist" lay-title="供应商列表">
    <div class="layui-row layui-col-space10">



 <div class="layui-col-md12">
            <div class="layui-card">
               
                <div class="layui-card-body">
                    <form class="layui-row layui-col-space10 layui-form">
                        
                   
            <div class="layui-col-md3 layui-col-xs4">
                       
                         <label class="layui-form-label">供应商类别</label>
                            <div class="layui-input-block">
                              <select lay-search name="type" id="type">
                              
                              </select>
                            </div>
             </div>


                <div class="layui-col-md3 layui-col-xs4">
                    
                          <label class="layui-form-label">名称</label>
                            <div class="layui-input-block">
                            <input type="text" name="name" placeholder="请输入内容" autocomplete="off" class="layui-input">
                            </div>
             </div>



              <div class="layui-col-md3 layui-col-xs12">
                            <div class="layui-row layui-col-space10">
                                <div class="layui-col-xs6">
                                    <div class="layui-btn layui-btn-sm layui-btn-fluid" lay-submit lay-filter="search-sulist">筛选</div>
                                </div>
                                <div class="layui-col-xs6">
                                    <button type="reset" class="layui-btn layui-btn-sm layui-btn-fluid layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </div>


                <a class="layui-btn layui-btn-danger" id="export">导出</a>
                    </form>
                </div>
            </div>

           

        </div>








        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body nepadmin-pad-l10 nepadmin-pad-r10">
                    <div class="layui-btn-container">
                       <!--  <div class="layui-btn layui-btn-sm" data-type='add' style="margin-bottom: 0;" lay-url="/supply/addsupply">添加供应商</div> -->

                        <a href="#/supply/addsupply" class="layui-btn layui-btn-xs">添加供应商</a>

                    </div>
                    <table id="sulist" lay-filter="sulist"></table>
                </div>
            </div>
        </div>
      
    </div>
</div>

<!-- 用户列表bar tool -->
<script type="text/html" id="supply_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>



<script>
    layui.use(['admin', 'table', 'form', 'dropdown', 'jquery', 'formSelects'], function (admin, table, form, dropdown, $) {
        var view = $('#VIEW-sulist');

        var formSelects = layui.formSelects;
        var roleName = [];
        var authList = [];
  

        var tableFilter = 'sulist';
        form.render();
        admin.renderTable({
            elem: '[lay-filter="' + tableFilter + '"]',
            id: 'su',
            api: 'getsupplylist',
            page: true,
            cols: [[
                { title: 'Order',type:'numbers', field: 'id', fixed: true},
                { title: '名称', field: 'name'},
                {title:"供应商类别",field:'type'},
                {title:"供应商成交",field:'donemunber'},
                { title: '地址', field: 'address'},
                { title: '备注', field: 'remark'},
                
                { title: '', fixed: 'right', toolbar:'#supply_bar'},

            ]]
        });


        // 监听筛选用户
        form.on('submit(search-sulist)', function (data) {
            table.reload( 'su', {
                where: {
                    type:data.field.type,
                    name:data.field.name
                }
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });





         admin.post({
            api: 'getsupplys',
            success:function (res) {
                if (res.result.list.length > 0){
                     let html = `<option value="1">全部</option>`;
                    $.each(res.result.list, function (index, item) {
                        html += '<option value="'+item.name+'">'+item.name+'</option>';
                    });
                    $("#type").html(html);
                }

                formSelects.render();
                form.render();
            }
        });


        //监听工具条
        table.on('tool(sulist)', function(obj){
            let data = obj.data;
            let layEvent = obj.event;
            let tr = obj.tr;

     

            if(layEvent === 'detail'){
                //do somehing
            } else if(layEvent === 'del'){
                    layer.confirm('真的删除行么?', function(index){
                    admin.post({
                        api: "delsupply",
                        data: data,
                        success:function (res) {
                            layer.alert("删除成功",{
                                yes:function () {
                                    layui.view.tab.refresh();
                                    layer.closeAll();
                                    formSelects.render();
                                    form.render();
                                }
                            })
                        }
                    });
                });



            } else if(layEvent === 'edit'){

                var id = data.id;
                

                if(! window.localStorage){
                    alert("浏览器不支持localstorage");
                    return false;
                }else{
                    //主逻辑业务

                    console.log(data);
                    var localStorage = window.localStorage;
                    localStorage.setItem('data',JSON.stringify(data));

                    var index=layer.open({

                        title:'编辑供应商',
                        type:2,
                        shade:0.2,
                        maxmin:true,
                        area:['100%','100%'],
                        content:['index.html#/supply/editsupply','yes']
                    });

                 }


            }
        });



        $("#export").click(function(){

            var type = $("select[name='type']").val();
            var name = $("input[name='name']").val();

            window.location.href="/api/Supply/exportCsv?name="+name+"&type="+type;
            

        });

    })
</script>