    <link rel="stylesheet" href="./nepadmin/css/formSelects.css" media="all">

<div class="layui-fluid" lay-title="产品管理">
    <div class="layui-row layui-col-space15">


        <div class="layui-col-md12">
            <form class="layui-card layui-form" layui-filter="add-role">
                <div class="layui-card-header" id="rolebd_status">添加产品</div>
                <div class="layui-card-body layui-row layui-col-space10">
             
                    <div class="layui-col-md4">
                            
                            <label class="layui-form-label">供应商</label>
                            <div class="layui-input-block">
                              <select name="supplyid" id="supply" lay-verify="required" lay-filter="selectsu">
                               
                              </select>
                            </div>

                    </div>

                    <div class="layui-col-md3">
                            
                            <label class="layui-form-label">供应商类别</label>
                            <div class="layui-input-block">
                                <input type="text" name="supplytype" id="type"  readonly="readonly" autocomplete="off"  class="layui-input">
                            </div>

                    </div>


                    <div class="layui-col-md2">
                            
                            <label class="layui-form-label">联系人</label>
                            <div class="layui-input-block">
                              <select name="contact" id="contact" lay-filter="conse" lay-verify="required">
                               
                              </select>
                            </div>

                    </div>

                     <div class="layui-col-md3">
                         <label class="layui-form-label">联系人手机</label>
                             <div class="layui-input-block">
                        <input type="text" name="contactorphone" id="contactphone" placeholder="联系人手机" autocomplete="off" class="layui-input" lay-verify="required">
                    </div>
                    </div>

                     <div class="layui-col-md3">
                          <label class="layui-form-label">成交日期</label>
                           <div class="layui-input-block">
                        <input type="date" name="createtime" placeholder="成交日期" autocomplete="off" class="layui-input" lay-verify="required">
                    </div>
                    </div>



                     <div class="layui-col-md3">
                        <label class="layui-form-label">成交价格</label>
                         <div class="layui-input-block">
                        <input type="number" name="price" value="9.00" autocomplete="off" class="layui-input">
                    </div>
                    </div>

                     <div class="layui-col-md3">
                        <label class="layui-form-label">成交数量</label>
                        <div class="layui-input-block">
                        <input type="number" name="buynumber" value="1" autocomplete="off" class="layui-input">
                    </div>
                    </div>


                     <div class="layui-col-md3">
                        <label class="layui-form-label">拿货地</label>
                        <div class="layui-input-block">
                        <input type="text" name="address" placeholder="拿货地" autocomplete="off" class="layui-input">
                    </div>
                    </div>




                     <div class="layui-col-md3">
                        <label class="layui-form-label">价格备注</label>
                        <div class="layui-input-block">
                        <input type="text" name="priceinfo" autocomplete="off" class="layui-input">
                    </div>
                    </div>

                     


<input type="hidden" name="pid" id="pida">
           




                   
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="add-rela">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- 添加角色结束 -->

       
    </div>
</div>
<!-- 角色列表bar tool -->
<script type="text/html" id="role_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
function getQueryVariable(variable)
{
       var query = window.location.search.substring(1);
       var vars = query.split("&");
       for (var i=0;i<vars.length;i++) {
               var pair = vars[i].split("=");
               if(pair[0] == variable){return pair[1];}
       }
       return(false);
}

var pid = getQueryVariable("id");
console.log(pid);
document.getElementById('pida').value=pid;

    layui.use(['admin', 'table', 'form', 'jquery', 'laytpl', 'formSelects'], function (admin) {
        var $ = layui.jquery;
        var element = layui.element;
        var laytpl = layui.laytpl;
        var formSelects = layui.formSelects;
        var table = layui.table;
        var rolebd_status_value = 'add';
        var form = layui.form;

        // 加载权限列表
        admin.post({
            api: 'getsupplylist',
            success:function (res) {
                if (res.result.list.length > 0){
                    let html = `<option value="0">选择供应商</option>`;
                    $.each(res.result.list, function (index, item) {
                        html += '<option value="'+item.id+'" data-type="'+item.type+'">'+item.name+'</option>';
                    });
                    $("#supply").html(html);
                }

                formSelects.render();
                form.render();
            }
        });


        admin.post({
            api: 'getcontactlist',
            success:function (res) {
                if (res.result.list.length > 0){
                    let html = `<option value="0">选择联系人</option>`;
                    $.each(res.result.list, function (index, item) {
                        html += '<option value="'+item.id+'" data-type="'+item.type+'">'+item.name+'</option>';
                    });
                    $("#contact").html(html);
                }

                formSelects.render();
                form.render();
            }
        });




        // 加载角色列表
        admin.renderTable({
            elem: '#role_list'
            ,api: 'getAllRole'
            ,page: false //开启分页
            ,cols: [[ //表头
                {field: 'role_id', title: '角色id'}
                ,{field: 'role_name', title: '角色名'}
                // ,{field: 'role_status', title: '角色状态'
                //     ,templet: function(d){
                //         return d.role_status === 0 ? '正常' : '禁用';
                //     }
                // }
                ,{toolbar: '#role_bar'}
            ]]
        });


         form.on('select(selectsu)', function (data) {
            var suid = $("#supply").val();


              admin.post({
            api: 'getsupplyone',
                data: {
                        id:suid,
                    },
            success:function (res) {
                if (res.result != null){
        
                   
                    $("#type").val(res.result.type);
                }

                formSelects.render();
                form.render();
            }
        });
        });







         form.on('select(conse)', function (data) {
            var suid = $("#contact").val();


              admin.post({
            api: 'getcontactone',
                data: {
                        id:suid,
                    },
            success:function (res) {
                if (res.result != null){
        
                   
                    $("#contactphone").val(res.result.phone);
                }

                formSelects.render();
                form.render();
            }
        });
        });





        // 添加角色添加
        form.on('submit(add-rela)', function (data) {
            switch (rolebd_status_value) {
                case 'add':
                    admin.post({
                        api: "addsupplyprorelate",
                        data: data.field,
                        success:function (res) {
                            layer.alert("添加成功",{
                                yes:function () {
                                    layui.view.tab.refresh();
                                    layer.closeAll();
                                    formSelects.render();
                                    form.render();
                                }
                            })
                        }
                    });
                    break;
                case 'edit':
                    admin.post({
                        api: "ediRole",
                        data: data.field,
                        success:function (res) {
                            layer.alert("编辑角色成功",{
                                yes:function () {
                                    layui.view.tab.refresh();
                                    layer.closeAll();
                                    formSelects.render();
                                    form.render();
                                }
                            })
                        }
                    });
                    break;
            }

            return false;
        });

        formSelects.render();
        form.render();

        //监听工具条
        table.on('tool(role_table)', function(obj){
            let data = obj.data;
            let layEvent = obj.event;
            let tr = obj.tr;

            if(layEvent === 'detail'){
                //do somehing
            } else if(layEvent === 'del'){
                layer.confirm('真的删除行么?用户权限会失效的!', function(index){
                    admin.post({
                        api: "delRole",
                        data: data,
                        success:function (res) {
                            layer.alert("删除角色成功",{
                                yes:function () {
                                    layui.view.tab.refresh();
                                    layer.closeAll();
                                    formSelects.render();
                                    form.render();
                                }
                            })
                        }
                    });
                });
            } else if(layEvent === 'edit'){
                // 请求信息接口，然后打开弹窗
                admin.post({
                    api: 'getRoleInfo',
                    data: {
                        role_id:data.role_id
                    },
                    success:function (res) {
                        rolebd_status_value = 'edit';
                        $('#rolebd_status').html("修改角色 - " + res.result.role_name + " <div class='layui-btn layui-btn-xs' id='reset_add_role'>恢复添加</div>");
                        $("input[name=role_name]").val(res.result.role_name);
                        $("input[name=role_id]").val(res.result.role_id);
                        form.render();
                        formSelects.value('role_auth', res.result.role_auth.split(","));
                    }
                })
            }
        });

        // 恢复编辑面板为添加
        $('body').on('click', '#reset_add_role', function () {
            $('#rolebd_status').html("添加角色");
            rolebd_status_value = 'add';
            $("input[name=role_name]").val('');
            formSelects.value('role_auth', []);
            form.render();
        })

    });
</script>
<script type="text/javascript">
    

</script>