<link rel="stylesheet" href="./nepadmin/css/formSelects.css" media="all">
<style>
    .xm-select-dl{
        top:unset !important;
    }
</style>
<div class="layui-fluid" id="VIEW-catelist" lay-title="产品分类列表">
    <div class="layui-row layui-col-space10">





 <div class="layui-col-md12">
           
                    <form class="layui-row layui-col-space10 layui-form">
                        




  
                <div class="layui-col-md3 layui-col-xs4">
                    
                          <label class="layui-form-label">名称</label>
                            <div class="layui-input-block">
                            <input type="text" name="name" placeholder="请输入内容" autocomplete="off" class="layui-input">
                            </div>
             </div>





  <div class="layui-col-md3 layui-col-xs12">
                            <div class="layui-row layui-col-space10">
                                <div class="layui-col-xs6">
                                    <div class="layui-btn layui-btn-sm layui-btn-fluid" lay-submit lay-filter="search-cate">筛选</div>
                                </div>
                                <div class="layui-col-xs6">
                                    <button type="reset" class="layui-btn layui-btn-sm layui-btn-fluid layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </div>


                      
                    </form>
               

          

        </div>











        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body nepadmin-pad-l10 nepadmin-pad-r10">
                    <div class="layui-btn-container">
                        <div class="layui-btn layui-btn-sm table-action" data-type='add' style="margin-bottom: 0;" >添加分类</div>

                        

                    </div>
                    <table id="catelist" lay-filter="catelist"></table>
                </div>
            </div>
        </div>
       
    </div>
</div>

<!-- 用户列表bar tool -->
<script type="text/html" id="cate_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!-- 添加用户面板 -->
<div id="add_user_bd" hidden>
    <div style="padding: 10px;">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">分类名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" required  lay-verify="required" placeholder="请输入分类名称" autocomplete="off" class="layui-input">
                </div>
            </div>
           
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="add-cate">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

    </div>
</div>



<script>
    layui.use(['admin', 'table', 'form', 'dropdown', 'jquery', 'formSelects'], function (admin, table, form, dropdown, $) {
        var view = $('#VIEW-catelist');

        var formSelects = layui.formSelects;

        var tableFilter = 'catelist';
        form.render();
        admin.renderTable({
            elem: '[lay-filter="' + tableFilter + '"]',
            id: 'catetab',
            api: 'getcatelist',
            page: true,
            cols: [[
            {title:'order',type:'numbers',minWidth:80},
                { title: '分类名称', field: 'name',minWidth:200},
               
                { title: '添加时间', field: 'createtime',minWidth:200},
                { title: '状态', minWidth:100, field: 'status',templet: function(d){
                    return d.status == 1 ? '正常' : '禁用';
                }},
                { title: '', fixed: 'right', toolbar:'#cate_bar',minWidth:150},

            ]]
        });

        // 顶部按钮
        $('body').on('click', '.table-action', function () {
            let type = $(this).data('type');

            switch (type) {
                case 'add':
                    let addUserBd = $('#add_user_bd');
                    let html = addUserBd.html();
                    if (html === ''){return false;} // 没有判断 则会因为tab的伪刷新 导致监听n多次点击按钮事件 打开n个弹窗
                    addUserBd.html('');
                    admin.popup({
                        content: html,
                        title: '添加产品分类',
                        area: ['70%', '70%'],
                        shadeClose: false,
                        cancel: function(index, layero){
                            $("#add_user_bd").html(this.content);
                        }
                    });
                    break;
            }
        });

        // 监听添加
        form.on('submit(add-cate)', function (data) {
            admin.post({
                api: 'addcate',
                data: data.field,
                success:function (res) {
                    if (res.code==500) {


                            alert("分类已存在");

                    }else{


                        layer.msg('添加成功', {
                        icon:1,
                        success :function (index, layero) {
                            setTimeout(function(){
                                layer.closeAll();
                                layui.view.tab.refresh();
                            },800);
                        }
                    });




                    }
                    
                }
            });
            return false;
        });





        form.on('submit(edit-cate)', function (data) {
            admin.post({
                api: 'editcate',
                data: data.field,
                success:function (res) {

                     if (res.code==500) {


                            alert("分类已存在");

                    }else{


                        layer.msg('添加成功', {
                        icon:1,
                        success :function (index, layero) {
                            setTimeout(function(){
                                layer.closeAll();
                                layui.view.tab.refresh();
                            },800);
                        }
                    });




                    }
                }
            });
            return false;
        });



    


        // 监听筛选用户
        form.on('submit(search-cate)', function (data) {
            table.reload( 'catetab', {
                where: {
                    keyword:data.field.name
                }
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });

        //监听工具条
        table.on('tool(catelist)', function(obj){
            let data = obj.data;
            let layEvent = obj.event;
            let tr = obj.tr;

            if(layEvent === 'detail'){
                //do somehing
            } else if(layEvent === 'del'){


                  layer.confirm('真的删除行么?', function(index){
                    admin.post({
                        api: "delprocate",
                        data: data,
                        success:function (res) {
                            layer.alert("删除成功",{
                                yes:function () {
                                    layui.view.tab.refresh();
                                    layer.closeAll();
                                    formSelects.render();
                                    form.render();
                                }
                            })
                        }
                    });
                });

            } else if(layEvent === 'edit'){
                var con = `<div id="edit_cate_modal"><div style="padding: 10px;">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">Edit分类名称</label>
                <div class="layui-input-block">
                    <input type="text" name="editname"  value=`+data.name+` required  lay-verify="required" placeholder="请输入分类名称"  autocomplete="off" class="layui-input">
                </div>
            </div>
            <input type="hidden" name="cateid" value=`+data.id+`>
           
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="edit-cate">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

    </div>
</div>
`;
                layer.open({
                     type: 1,
                      content: con,
                        title: '编辑产品分类',
                        area: ['70%', '70%'],
                        shadeClose: false,
                       
                });













            }
        });

    })
</script>