   <style type="text/css">
  .nepadmin-sidebar-shrink #app-sidebar {
    left: 0;
    width: 0px;
}

.nepadmin-sidebar-shrink .layui-body, .nepadmin-sidebar-shrink #app-header .layui-layout-left, .nepadmin-sidebar-shrink .nepadmin-tabs-wrap .nepadmin-tabs-menu, .nepadmin-sidebar-shrink .nepadmin-tabs-wrap .nepadmin-tabs-prev {
    left: 0px;
}
</style>
    <link rel="stylesheet" href="./nepadmin/css/formSelects.css" media="all">
<div class="layui-fluid" lay-title="产品管理">
    <div class="layui-row layui-col-space15">


          <div class="layui-col-md12">
            <form class="layui-card layui-form" layui-filter="add-role">
                <div class="layui-card-header" id="rolebd_status">编辑产品</div>
                <div class="layui-card-body layui-row layui-col-space10">
                    <div class="layui-col-md6">

        <label class="layui-form-label">名称</label>
                <div class="layui-input-block">
                        <input type="text" name="name" placeholder="名称" autocomplete="off"  class="layui-input">
                    </div>
        </div>


            <div class="layui-col-md6">
                           
               
                            <label class="layui-form-label">类别</label>
                            <div class="layui-input-block">
                              <select name="cate" id="cate" lay-search >
                               
                              </select>
                            </div>
                        

                    </div>



                    <div class="layui-col-md6">
                         <label class="layui-form-label">cas</label>
                <div class="layui-input-block">
                        <input type="text" name="cas" placeholder="cas" autocomplete="off" class="layui-input">
                    </div>
                </div>


                       <div class="layui-col-md6">
                         <label class="layui-form-label">化学式</label>
                <div class="layui-input-block">
                        <input type="text" name="chemical" placeholder="化学式" autocomplete="off" class="layui-input">
                    </div>
                </div>

                

                     <div class="layui-col-md6">
                         <label class="layui-form-label">品牌
                         </label>
                <div class="layui-input-block">
                        <input type="text" name="brand" placeholder="品牌" autocomplete="off" class="layui-input">
                    </div>
                </div>


    <div class="layui-col-md6">
                         <label class="layui-form-label">包装</label>
                <div class="layui-input-block">
                        <input type="text" name="pack" placeholder="包装" autocomplete="off" class="layui-input">
                    </div>
                </div>


  <div class="layui-col-md6">
                         <label class="layui-form-label">含量</label>
                <div class="layui-input-block">
                        <input type="text" name="content" placeholder="含量" autocomplete="off" class="layui-input">
                    </div>
                </div>



<div class="layui-col-md6">
                         <label class="layui-form-label">性状</label>
                <div class="layui-input-block">
                        <input type="text" name="properties" placeholder="性状" autocomplete="off" class="layui-input">
                    </div>
</div>



 <div class="layui-col-md6">
                         <label class="layui-form-label">别名</label>
                <div class="layui-input-block">
                        <input lay-skin="green" type="text" name="aliasname" placeholder="别名" autocomplete="off" class="layui-input">
                    </div>
</div>


      <div class="layui-col-md6">
                             <label class="layui-form-label">相似产品</label>
                <div class="layui-input-block">
                        <input type="text" name="sameitem" placeholder="相似产品" autocomplete="off" class="layui-input">
                    </div>

</div>



                 
                     <div class="layui-col-md6">
                         <label class="layui-form-label">市场行情</label>
                <div class="layui-input-block">
                        <textarea name="market" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                    </div>

                      
                    
                     <!--  <div class="layui-col-md6">
                         <label class="layui-form-label">名称</label>
                <div class="layui-input-block">
                        <input type="number" name="ordernum" placeholder="排序" autocomplete="off" class="layui-input">
                    </div>
                </div> -->

                     
                      <div class="layui-col-md6">
                         <label class="layui-form-label">用途</label>
                <div class="layui-input-block">
                       <textarea name="usefor" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>

                    <div class="layui-col-md12">
                         <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                        <textarea name="remark" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
</div>
                  


                     <div class="layui-form-item">
                            
                            <button type="button" class="layui-btn" id="test1">
  <i class="layui-icon">&#xe67c;</i>上传文件
</button>
                           
                        </div>

<div class="layui-col-md12" id="filebox2">
    

</div>

<a class="layui-btn layui-btn-danger" id="editaddbtn">添加供应商</a>

           
<div id="boxsuedit"></div>





                   
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="edit-product">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- 添加角色结束 -->

       
    </div>
</div>
<!-- 角色列表bar tool -->
<script type="text/html" id="role_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>



<div id="addsubox" hidden>
    <div style="padding: 10px;" class="newsu">
        <form class="layui-form"  action="">


              <div class="layui-col-md12">
                <div class="layui-card-body layui-row layui-col-space10">
             
                    <div class="layui-col-md4">
                            
                            <label class="layui-form-label">供应商</label>
                            <div class="layui-input-block">
                              <select  id="supply" lay-search t='supply_id'  lay-filter="selectsu" >
                               
                              </select>
                            </div>

                    </div>

                    <div class="layui-col-md3">
                            
                            <label class="layui-form-label">供应商类别</label>
                            <div class="layui-input-block">
                                <input type="text" name="supplytype" id="type"  readonly="readonly" t='supply_type' autocomplete="off"  class="layui-input">
                            </div>

                    </div>


                    <div class="layui-col-md2">
                            
                            <label class="layui-form-label">联系人</label>
                            <div class="layui-input-block">
                              <select name="contact" lay-search id="contact" t='contact_id' lay-filter="conse" >
                               
                              </select>
                            </div>

                    </div>

                     <div class="layui-col-md3">
                         <label class="layui-form-label">联系人手机</label>
                             <div class="layui-input-block">
                        <input type="text" name="contactorphone[]" t='contact_phone' id="contactphone" placeholder="联系人手机" autocomplete="off" class="layui-input" >
                    </div>
                    </div>

                     <div class="layui-col-md3">
                          <label class="layui-form-label">成交日期</label>
                           <div class="layui-input-block">
                        <input type="date" name="createtime" t='time' placeholder="成交日期" autocomplete="off" class="layui-input" >
                    </div>
                    </div>



                     <div class="layui-col-md3">
                        <label class="layui-form-label">成交价格</label>
                         <div class="layui-input-block">
                        <input type="number" t='price' value="9.00" autocomplete="off" class="layui-input">
                    </div>
                    </div>

                     <div class="layui-col-md3">
                        <label class="layui-form-label">成交数量</label>
                        <div class="layui-input-block">
                        <input type="number" t='numbers' value="1" autocomplete="off" class="layui-input">
                    </div>
                    </div>


                     <div class="layui-col-md3">
                        <label class="layui-form-label">拿货地</label>
                        <div class="layui-input-block">
                        <input type="text"  t='address' placeholder="拿货地" autocomplete="off" class="layui-input">
                    </div>
                    </div>


                     <div class="layui-col-md3">
                        <label class="layui-form-label">价格备注</label>
                        <div class="layui-input-block">
                        <input type="text" name="priceinfo" t='priceinfo' autocomplete="off" class="layui-input">
                    </div>
                    </div>

        </form>

    </div>
</div>



<script>
    layui.use(['admin', 'table', 'form', 'upload','jquery', 'laytpl', 'formSelects'], function (admin) {
        var $ = layui.jquery;
        var element = layui.element;
        var laytpl = layui.laytpl;
        var formSelects = layui.formSelects;
        var table = layui.table;
        var rolebd_status_value = 'add';
        var form = layui.form;
        var upload = layui.upload;
$("#app").addClass("nepadmin-sidebar-shrink");

  
        // 加载权限列表
        // admin.post({
        //     api: 'getcatelist',
        //     success:function (res) {
        //         if (res.result.list.length > 0){
        //             let html = "";
        //             $.each(res.result.list, function (index, item) {
        //                 html += '<option value="'+item.id+'">'+item.name+'</option>';
        //             });
        //             $("#cate").html(html);
        //         }

        //         formSelects.render();
        //         form.render();
        //     }
        // });

        
           upload.render({
  elem: '#test1'
  ,url: '/api/upload/do',
  accept:'file'
  ,multiple: true
  ,allDone: function(obj){ //当文件全部被提交后，才触发
    console.log(obj.total); //得到总文件数
    console.log(obj.successful); //请求成功的文件数
    console.log(obj.aborted); //请求失败的文件数
  }
  ,done: function(res, index, upload){ //每个文件提交一次触发一次。详见“请求成功的回调”
    var file = res.result;
            $.each(file,function(k,v){
                    var  resfile= `<div class="layui-col-md2" style="border: antiquewhite;
    border-style: dashed;margin:5px 5px;">
     <i class="layui-icon layui-icon-delete re" style="float:right">delete</i>

    <div class="layui-panel">
     
      <div style="padding: 20px;">
        <a href=`+v.replace(/uploadfiles/,"files")+`><i style="float:right" class="layui-icon layui-icon-file" style="font-size: 30px; color: #1E9FFF;"></i><span>`+k+`</span></a><input type='hidden' value=`+v+` name=`+k+` class='filebox2'>

      </div>
    
    </div>   
</div>="layui-icon layui-icon-delete re">delete</i>
                    </div>`;   
                            $("#filebox2").append(resfile);
                  });

        }

});







      
        form.on('submit(edit-product)', function (data) {
            switch (rolebd_status_value) {
                case 'add':


                    var subox = [];

                    $(".newsu").each(function(){
                    var boxp = {};
         

                    var supplyname = $(this).find("select[t='supply_id']").val();
                    var supplytype = $(this).find("input[t='supply_type']").val();
                    var contactname =  $(this).find("select[t='contact_id']").val();
                    var contactphone =  $(this).find("input[t='contact_phone']").val();

                    var price =  $(this).find("input[t='price']").val();
                    var time =  $(this).find("input[t='time']").val();
                    var numbers =  $(this).find("input[t='numbers']").val();
                    var priceinfo =  $(this).find("input[t='priceinfo']").val();
                    var address  = $(this).find("input[t='address']").val();
                    var id=$(this).find("input[t='sid']").val();
                    boxp['supplyname'] = supplyname;
                    boxp['supplytype'] = supplytype;
                    boxp['contactname'] = contactname;
                    boxp['contactphone'] = contactphone;
                    boxp['price'] = price;
                    boxp['priceinfo'] = priceinfo;
                    boxp['time'] = time;
                    boxp['numbers'] = numbers;
                    boxp['address'] = address;
                    boxp['id'] = id;
                    subox.push(boxp);
                   
                    
                   });

            var files = [];
                $(".filebox2").each(function(){
                        var filepath = $(this).attr("value");
                        var filename = $(this).attr("name");
                        files.push({"filename":filename,"filepath":filepath});
                       });

                    console.log(subox);

                    admin.post({
                        api: "editproduct",
                        data: {"data":data.field,'subox':subox,'files':files,"id":editdata.id},
                        success:function (res) {
                            layer.alert("添加产品成功",{
                                yes:function () {
                                 
                                    layer.close(window.localStorage.getItem('index_supply'));
                                    layer.closeAll();
                                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
parent.layer.close(index); //再执行关闭
   layui.view.tab.refresh();
                                }
                            })
                        }
                    });
                    break;
               
            }

            return false;
        });


        
form.on('select(selectsu)', function (data) {
            var suid = data.value;
            console.log("choose suid is  "+suid);

              admin.post({
            api: 'getsupplyone',
                data: {
                        id:suid,
                    },
            success:function (res) {
                if (res.result != null){
        
                   console.log($(data.elem).parent().parent());
                    $(data.elem).parent().parent().next().find("input[t='supply_type']").val(res.result.type);
                }

                formSelects.render();
                form.render();
            }
        });
        });


         form.on('select(conse)', function (data) {
            var suid = data.value;

              admin.post({
            api: 'getcontactone',
                data: {
                        id:suid,
                    },
            success:function (res) {
                if (res.result != null){
                    
                     $(data.elem).parent().parent().next().find("input[t='contact_phone']").val(res.result.phone);
                }

                formSelects.render();
                form.render();
            }
        });
        });




   $('body').on('click','.re',function(){
                console.log("hello");


              $(this).parent().remove();
             });


        $('body').on('click', '#editaddbtn', function () {



var supply_opt = "";
          $.ajax({
            url: '/api/Supply/getList?limit=9999',

            async:false,
            success:function (res) {
                if (res.result.list.length > 0){
                    supply_opt += `<option value="0">选择供应商</option>`;
                    $.each(res.result.list, function (index, item) {
                        supply_opt += '<option value="'+item.id+'" data-type="'+item.type+'">'+item.name+'</option>';
                    });
                  
                }

               
            }
        });

var con_opt="";

        $.ajax({
            url: '/api/Contactor/getList?limit=9999',
            async:false,
            success:function (res) {
                if (res.result.list.length > 0){
                con_opt += `<option value="0">选择联系人</option>`;
                    $.each(res.result.list, function (index, item) {
                        con_opt += '<option value="'+item.id+'" data-type="'+item.type+'">'+item.name+'</option>';
                    });
                  
                }

              
            }
        });
        
            var suadd = `<div style="padding: 10px;" class="newsu">
              <i class="layui-icon layui-icon-delete re">delete</i>
        <form class="layui-form"  action="">


              <div class="layui-col-md12">
                <div class="layui-card-body layui-row layui-col-space10">
             
                    <div class="layui-col-md4">
                            
                            <label class="layui-form-label">供应商</label>
                            <div class="layui-input-block">
                              <select  id="supply" lay-search t='supply_id'  lay-filter="selectsu" >
                               `+supply_opt+`
                              </select>
                            </div>

                    </div>

                    <div class="layui-col-md3">
                            
                            <label class="layui-form-label">供应商类别</label>
                            <div class="layui-input-block">
                                <input type="text" name="supplytype" id="type"  readonly="readonly" t='supply_type' autocomplete="off"  class="layui-input">
                            </div>

                    </div>


                    <div class="layui-col-md2">
                            
                            <label class="layui-form-label">联系人</label>
                            <div class="layui-input-block">
                              <select name="contact" lay-search id="contact" t='contact_id' lay-filter="conse" >
                               `+con_opt+`
                              </select>
                            </div>

                    </div>

                     <div class="layui-col-md3">
                         <label class="layui-form-label">联系人手机</label>
                             <div class="layui-input-block">
                        <input type="text" name="contactorphone[]" t='contact_phone' id="contactphone" placeholder="联系人手机" autocomplete="off" class="layui-input" >
                    </div>
                    </div>

                     <div class="layui-col-md3">
                          <label class="layui-form-label">成交日期</label>
                           <div class="layui-input-block">
                        <input type="date" name="createtime" t='time' placeholder="成交日期" autocomplete="off" class="layui-input" >
                    </div>
                    </div>



                     <div class="layui-col-md3">
                        <label class="layui-form-label">成交价格</label>
                         <div class="layui-input-block">
                        <input type="number" t='price' value="9.00" autocomplete="off" class="layui-input">
                    </div>
                    </div>

                     <div class="layui-col-md3">
                        <label class="layui-form-label">成交数量</label>
                        <div class="layui-input-block">
                        <input type="number" t='numbers' value="1" autocomplete="off" class="layui-input">
                    </div>
                    </div>


                     <div class="layui-col-md3">
                        <label class="layui-form-label">拿货地</label>
                        <div class="layui-input-block">
                        <input type="text"  t='address' placeholder="拿货地" autocomplete="off" class="layui-input">
                    </div>
                    </div>


                     <div class="layui-col-md3">
                        <label class="layui-form-label">价格备注</label>
                        <div class="layui-input-block">
                        <input type="text" name="priceinfo" t='priceinfo' autocomplete="off" class="layui-input">
                    </div>
                    </div>

        </form>

    </div>`;
    
            $("#boxsuedit").append(suadd);
            form.render();


        });

        //edit data fill

         var editdata = JSON.parse(window.localStorage.getItem('data'));


         if (editdata) {    


        //  admin.post({
        //     api: 'getsupplylist',
        //     data:{'limit':9999},
        //     success:function (res) {
        //         if (res.result.list.length > 0){
        //             let html = `<option value="0">选择供应商</option>`;
        //             $.each(res.result.list, function (index, item) {
        //                 html += '<option value="'+item.id+'" data-type="'+item.type+'">'+item.name+'</option>';
        //             });
        //             $("#supply").html(html);
        //         }
        //         formSelects.render();
        //         form.render();
        //     }
        // });

         var cateeditopt = "";
          $.ajax({
            url: '/api/Productcate/getList?limit=9999 ',
            async:false,
            success:function (res) {
                if (res.result.list.length > 0){
                   
                    $.each(res.result.list, function (index, item) {

                        if (item.name==editdata.cate) {

                                  cateeditopt += '<option selected="true" value="'+item.id+'">'+item.name+'</option>';

                        }else{
  cateeditopt += '<option value="'+item.id+'">'+item.name+'</option>';
                        }
                      
                    });
                    
                }

            }
        });


           console.log(cateeditopt);

        $("#cate").append(cateeditopt);
        form.render('select')
            
         $("input[name='id']").val(editdata.id);
            $("input[name='name']").val(editdata.name);
            $("input[name='cas']").val(editdata.cas);
            $("input[name='chemical']").val(editdata.chemical);
             //$("select[name='cate']").val(editdata.cate);
            $("input[name='brand']").val(editdata.brand);
             $("input[name='pack']").val(editdata.pack);
             $("input[name='market']").val(editdata.market);
            $("input[name='properties']").val(editdata.properties);
            $("input[name='content']").val(editdata.content);
             $("input[name='usefor']").val(editdata.usefor);
             $("input[name='createtime']").val(editdata.createtime);
             $("input[name='ordernum']").val(editdata.ordernum);

             $("input[name='aliasname']").val(editdata.aliasname);
            $("input[name='remark']").val(editdata.remark);
        

         $.ajax({
                url:'/api/SupplyProductRelate/getmany?pid='+editdata.id,
                type:'GET',
                cache: false,
                contentType: false, //不可缺参数
                processData: false,     //不可缺参数
                success:function(data){
            
                    var contactarr=``;

                    var suopt = ``;

                          $.ajax({
            url: '/api/supply/getList',
            async:false,
            success:function (res) {
                if (res.result.list.length > 0){
             
                    $.each(res.result.list, function (index, item) {

                        suopt += `<option value=`+item.id+`>`+item.name+`</option>`;
                    });
                   
                }

            }
        });




var fileopt = "";

             $.ajax({
                url:'/api/Files/getfiles?spid='+editdata.id+"&type=2",
                type:'GET',
                cache: false,
                contentType: false, //不可缺参数
                processData: false,     //不可缺参数
                success:function(data){

                  console.log(data);
                  $.each(data.result,function(k,v){

                    var dpath = v.filepath;
                      fileopt+=`<div class="layui-col-md2" style="border: antiquewhite;
    border-style: dashed;">
     <i class="layui-icon layui-icon-delete re" style="float:right">delete</i>
    <div class="layui-panel">
     
      <div style="padding: 30px;">
        <a href=`+v.filepath.replace(/uploadfiles/,"files")+`><span>`+v.filename+`</span></a><input type='hidden' value=`+v.filepath+` name=`+v.filename+` class='filebox2'>
      </div>
    
    </div>   
</div>`; 
                  });
                    
                           
                  $("#filebox2").append(fileopt);

             }

           })





                    $.each(data.result,function(k,obj){


var su_opts = `<option value="0">选择供应商</option>`;

                          $.ajax({
            url: '/api/supply/getList?limti=999999',
            async:false,
            success:function (res) {
                if (res.result.list.length > 0){
                    
                    $.each(res.result.list, function (index, item) {
                        if (item.id == obj.supplyid) {
console.log(item);
                          su_opts += '<option selected="true" value="'+item.id+'" data-type="'+item.type+'">'+item.name+'</option>';
                        }else{
                              su_opts += '<option sb="ss" value="'+item.id+'" data-type="'+item.type+'">'+item.name+'</option>';
                        }
                      
                    });
      
                }
            
              
            }
        });


console.log("111111111111111111111");
console.log(su_opts);


var con_opts="";

        $.ajax({
            url: '/api/Contactor/getList',
            async:false,
            success:function (res) {
                if (res.result.list.length > 0){
                con_opts += `<option value="0">选择联系人</option>`;
                    $.each(res.result.list, function (index, item) {


                        if (obj.contactorname == item.name) {

                                 con_opts += '<option selected="selected" value="'+item.id+'" data-type="'+item.type+'">'+item.name+'</option>';

                        }else{
                        con_opts += '<option value="'+item.id+'" data-type="'+item.type+'">'+item.name+'</option>';
                    }
                    });
                  
                }

              
            }
        });





                        contactarr+=`<div style="padding: 10px;" class="newsu">
                          <i class="layui-icon layui-icon-delete re">delete</i>
        <form class="layui-form"  action="">
<input type='hidden' t='sid' value=`+obj.id+`>

              <div class="layui-col-md12">
                <div class="layui-card-body layui-row layui-col-space10">
             
                    <div class="layui-col-md4">
                            
                            <label class="layui-form-label">供应商</label>
                            <div class="layui-input-block">
                              <select  id="supply" lay-search t='supply_id'   lay-filter="selectsu">
                               `+su_opts+`
                              </select>
                            </div>

                    </div>

                    <div class="layui-col-md3">
                            
                            <label class="layui-form-label">供应商类别</label>
                            <div class="layui-input-block">
                                <input type="text" name="supplytype" id="type"  readonly="readonly" t='supply_type' autocomplete="off" value=`+obj.supplytype+`  class="layui-input">
                            </div>

                    </div>


                    <div class="layui-col-md3">
                            
                            <label class="layui-form-label">联系人</label>
                            <div class="layui-input-block">
                              <select name="contact" lay-search id="contact" t='contact_id' value=`+obj.id+` lay-filter="conse" >
                               `+con_opts+`
                              </select>
                            </div>

                    </div>

                     <div class="layui-col-md3">
                         <label class="layui-form-label">联系人手机</label>
                             <div class="layui-input-block">
                        <input type="text" name="contactorphone[]" t='contact_phone' id="contactphone" placeholder="联系人手机" value=`+obj.contactphone+` autocomplete="off" class="layui-input" >
                    </div>
                    </div>

                     <div class="layui-col-md3">
                          <label class="layui-form-label">成交日期</label>
                           <div class="layui-input-block">
                        <input type="date" name="createtime" t='time' placeholder="成交日期" value=`+obj.createtime+` autocomplete="off" class="layui-input" >
                    </div>
                    </div>



                     <div class="layui-col-md3">
                        <label class="layui-form-label">成交价格</label>
                         <div class="layui-input-block">
                        <input type="number" t='price' autocomplete="off" value=`+obj.price+` class="layui-input">
                    </div>
                    </div>

                     <div class="layui-col-md3">
                        <label class="layui-form-label">成交数量</label>
                        <div class="layui-input-block">
                        <input type="number" t='numbers' autocomplete="off" value=`+obj.buynumber+` class="layui-input">
                    </div>
                    </div>


                     <div class="layui-col-md3">
                        <label class="layui-form-label">拿货地</label>
                        <div class="layui-input-block">
                        <input type="text"  t='address' placeholder="拿货地" autocomplete="off" value="`+obj.address+`" class="layui-input">
                    </div>
                    </div>


                     <div class="layui-col-md3">
                        <label class="layui-form-label">价格备注</label>
                        <div class="layui-input-block">
        <input type="text" name="priceinfo" t='priceinfo' class="layui-input" autocomplete="off" value=`+obj.priceinfo+`>
                    </div>

                   
                    </div>
                    </div>
</div>
        </form>

    </div>`;
 
              

                   

                })
console.log(contactarr);
     $("#boxsuedit").append(contactarr);
       form.render('select');
 
         }

   

})
           }

           });
</script>
