<link rel="stylesheet" href="./nepadmin/css/formSelects.css" media="all">
<style>
    .xm-select-dl{
        top:unset !important;
    }
</style>
<div class="layui-fluid" id="VIEW-list-table" lay-title="产品列表">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md10">
            <div class="layui-card">
                <div class="layui-card-body nepadmin-pad-l10 nepadmin-pad-r10">
                    <div class="layui-btn-container">
                       <!--  <div class="layui-btn layui-btn-sm" data-type='add' style="margin-bottom: 0;" lay-url="/supply/addsupply">添加供应商</div> -->

                        <a href="#/product/addproduct" class="layui-btn layui-btn-xs">添加新产品</a>

                    </div>
                    <table id="plist" lay-filter="plist"></table>
                </div>
            </div>
        </div>
        <div class="layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-header">筛选数据</div>
                <div class="layui-card-body">
                    <form class="layui-row layui-col-space10 layui-form">
                        <div class="layui-col-md12 layui-col-xs4">
                            <input type="text" class="layui-input" name="name" placeholder="用户名" >
                        </div>
                        <div class="layui-col-md12 layui-col-xs12">
                            <div class="layui-row layui-col-space10">
                                <div class="layui-col-xs6">
                                    <div class="layui-btn layui-btn-sm layui-btn-fluid" lay-submit lay-filter="search-user">筛选</div>
                                </div>
                                <div class="layui-col-xs6">
                                    <button type="reset" class="layui-btn layui-btn-sm layui-btn-fluid layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

           <!--  <div class="layui-card nepadmin-font-12">
                <div class="layui-card-header">
                    <i class="layui-icon">&#xe78c;</i> 帮助中心 </div>
                <div class="layui-card-body">
                    <p>操作指引等等</p>
                    <p class="nepadmin-c-gray">吧啦吧啦~</p>
                    <hr/>
                    <p><a>如何新建／发布？</a></p>
                    <p><a>删除时注意事项？</a></p>
                </div>
            </div> -->

        </div>
    </div>
</div>

<!-- 用户列表bar tool -->
<script type="text/html" id="user_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>



<script>
    layui.use(['admin', 'table', 'form', 'dropdown', 'jquery', 'formSelects'], function (admin, table, form, dropdown, $) {
        var view = $('#VIEW-list-table');

        var formSelects = layui.formSelects;
   

        var tableFilter = 'plist';
       
        admin.renderTable({
            elem: '[lay-filter="' + tableFilter + '"]',
            id: 'plist',
            api: 'getproducts',
            page: true,
            cols: [[
                { title: 'id', field: 'id'},
                { title: '名称', field: 'name'},
                { title: 'cas', field: 'cas'},
                { title: '化学式', field: 'chemical'},
                { title: '品牌', field: 'brand'},
                { title: '包装', field: 'pack'},
                { title: '含量', field: 'content'},
                { title: '', fixed: 'right', toolbar:'#user_bar'},

            ]]
        });

       
       

    })
</script>