<link rel="stylesheet" href="./nepadmin/css/formSelects.css" media="all">
<div class="layui-fluid" lay-title="客户管理">
    <div class="layui-row layui-col-space15">

<input type="hidden" name="id">
        <div class="layui-col-md12">
            <form class="layui-card layui-form" layui-filter="add-customerss">
                <div class="layui-card-header" id="rolebd_statuss">添加客户</div>
                <div class="layui-card-body layui-row layui-col-space10">
                  <input type="hidden" name="id">
                    <div class="layui-col-md6">
                        <label class="layui-form-label">名称</label>
                        <div class="layui-input-block">
                        <input type="text" name="name" placeholder="名称" autocomplete="off" lay-verify="required" class="layui-input">
                    </div>
                    </div>


                    <div class="layui-col-md6">
                              <label class="layui-form-label">地址</label>
                        <div class="layui-input-block">
                        <input type="text" name="address" placeholder="" autocomplete="off" lay-verify="required" class="layui-input">
                    </div>
                    </div>



            <div class="layui-col-md4 layui-col-xs4">
                       
                         <label class="layui-form-label">客户类别</label>
                            <div class="layui-input-block">
                              <select  lay-search name="type" id="type">
                                


                              </select>
                            </div>
             </div>





                    <div class="layui-col-md3">
                        <label class="layui-form-label">联系人</label>
                        <div class="layui-input-block">
                        <input type="text" name="contact" placeholder="" autocomplete="off" lay-verify="required" class="layui-input">
                    </div>
                    </div>




                <div class="layui-col-md5">
                        <label class="layui-form-label">电话</label>
                        <div class="layui-input-block">
                        <input type="text" name="phone" placeholder="" autocomplete="off" lay-verify="required" class="layui-input">
                    </div>
                </div>


            <div class="layui-col-md4 layui-col-xs4">
                       
                         <label class="layui-form-label">客户来源</label>
                            <div class="layui-input-block">
                              <select lay-search name="fromwhere" id="fromwhere">
                                


                              </select>
                            </div>
             </div>



            <div class="layui-col-md4 layui-col-xs4">
                       
                         <label class="layui-form-label">成交意向</label>
                            <div class="layui-input-block">
                              <select  lay-search name="think">
                                
                                <option value="已成交">已成交</option>
                                  <option value="很高">很高</option>


                              </select>
                            </div>
             </div>



                    <div class="layui-col-md12">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                        <input type="text" name="remark" placeholder="" autocomplete="off" lay-verify="required" class="layui-input">
                    </div>
                    </div>


                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">开票资料</label>
                        <div class="layui-input-block">
                          <textarea name="info" placeholder="请输入内容" class="layui-textarea"></textarea>
                        </div>
                      </div>


                

                            
           <div class="layui-form-item">
                            
                            <button type="button" class="layui-btn" id="test1">
  <i class="layui-icon">&#xe67c;</i>上传文件
</button>
                           
                        </div>

<div class="layui-col-md12" id="filebox2">

   

</div>


                    <a class="layui-btn-danger layui-btn" id="addprice">添加报价</a>

<div class="layui-col-md12" id="box"></div>




<br>

<a class="layui-btn-primary layui-btn" id="addhistory">添加跟踪记录</a>
<div class="layui-col-md12" id="hislog"></div>




                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="add-cus">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>




<div class="layui-form-item" id="additembox" hidden="">
 <div class="layui-col-md12 itemadd" >
  <div class="layui-inline">
      
    <label class="layui-form-label">产品</label>
    <div class="layui-input-inline" style="width: 100px;">
          <select  name="item[]" t='item' lay-search class="name"  id="item" lay-search>
                      
                      
         </select>
    </div>

    <div class="layui-inline">
    <label class="layui-form-label">报价</label>
      <div class="layui-input-inline" style="width: 100px;">
      <input type="number" t=price name="price[]"  placeholder="￥" autocomplete="off" class="layui-input price">
    </div>
  </div>

  
  <div class="layui-inline">
    <label class="layui-form-label">数量</label>
    <div class="layui-input-inline" style="width: 100px;">
      <input type="number" t="numbers" name="numbers[]" autocomplete="off" class="layui-input">
    </div>
  </div>


  <div class="layui-inline">
    <label class="layui-form-label">日期</label>
    <div class="layui-input-inline" style="width: 100px;">
      <input type="date" t='times' name="times[]" autocomplete="off" class="layui-input">
    </div>
  </div>


</div>

<i class="layui-icon layui-icon-delete re">delete</i>
</div>
</div>

<script>
    layui.use(['admin', 'table', 'upload','form', 'jquery', 'laytpl', 'formSelects'], function (admin) {
        var $ = layui.jquery;
        var element = layui.element;
        var laytpl = layui.laytpl;
        var formSelects = layui.formSelects;
        var table = layui.table;
        var rolebd_status_value = 'add';
        var form = layui.form;
        var upload = layui.upload;

        admin.post({
            api: 'getproducts',
            data:{'pageSize':9999},
            success:function (res) {
                if (res.result.list.length > 0){
                    let html = "";
                    $.each(res.result.list, function (index, item) {
                        html += '<option value="'+item.id+'">'+item.name+'</option>';
                    });
                    
                    $("#item").html(html);

                }

                formSelects.render();
                form.render();
            }
        });
        // 加载权限列表
        admin.post({
            api: 'getcustomertypes',
            success:function (res) {
                if (res.result.list.length > 0){
                    let html = "";
                    $.each(res.result.list, function (index, item) {
                        html += '<option value="'+item.name+'">'+item.name+'</option>';
                    });
                    $("#type").html(html);
                }


                formSelects.render();
                form.render();
            }
        });

upload.render({
  elem: '#test1'
  ,url: '/api/upload/do',
  accept:'file'
  ,multiple: true
  ,allDone: function(obj){ //当文件全部被提交后，才触发
    console.log(obj.total); //得到总文件数
    console.log(obj.successful); //请求成功的文件数
    console.log(obj.aborted); //请求失败的文件数
  }
  ,done: function(res, index, upload){ //每个文件提交一次触发一次。详见“请求成功的回调”
    var file = res.result;
            $.each(file,function(k,v){
                    var  resfile= `<div class="layui-col-md1"><a href=`+v.replace(/uploadfiles/,"files")+`><i class="layui-icon layui-icon-file" style="font-size: 30px; color: #1E9FFF;"></i><span>`+k+`</span></a><input type='hidden' value=`+v+` name=`+k+` class='filebox2'><i class="layui-icon layui-icon-delete re">delete</i>
                    </div>`;   
                            $("#filebox2").append(resfile);
                  });

        }

});


$('body').on('click','.re',function(){
                console.log("hello");


              $(this).parent().remove();
             });


 // 加载权限列表
        admin.post({
            api: 'getcustomerfrom',
            success:function (res) {
                if (res.result.list.length > 0){
                    let html = "";
                    $.each(res.result.list, function (index, item) {
                        html += '<option value="'+item.name+'">'+item.name+'</option>';
                    });
                    $("#fromwhere").html(html);
                }


                formSelects.render();
                form.render();
            }
        });


         

        $("#addprice").click(function(){

        admin.post({
            api: 'getproducts',
            success:function (res) {
                if (res.result.list.length > 0){
                    let html = "";
                    $.each(res.result.list, function (index, item) {
                        html += '<option value="'+item.id+'">'+item.name+'</option>';
                    });

                    $("#item").html(html);

                    $("#box").append($("#additembox").html());
                }

                formSelects.render();
                form.render();
            }
        });
   formSelects.render();
                form.render();


        });


   formSelects.render();
                form.render();

$("#addhistory").click(function(){


    var his=`<div class="layui-inline hisbox">
      
    <label class="layui-form-label">跟踪信息</label>
      <div class="layui-input-inline" style="width: 120px;">
      <input type="date" t='logdate' name='logdate[]'  placeholder="" autocomplete="off" class="layui-input">
    </div>  <div class="layui-input-inline" style="width:700px;">
      <input type="text" t='loginfo' name="logifo[]"  placeholder="" autocomplete="off" class="layui-input">
    </div>
    <i class="layui-icon layui-icon-delete re">delete</i>
  </div>`;

$("#hislog").append(his);


});







form.on('submit(add-cus)', function (data) {
            switch (rolebd_status_value) {
                case 'add':
                files2 = [];
                jsdata = {};

                dataforms = data.field;
                   $(".filebox2").each(function(){
                    var filepath = $(this).attr("value");
                    var filename = $(this).attr("name");
                    files2.push({"filename":filename,"filepath":filepath});
                   });

                   var price = [];

                   var itemarr = [];
                    $(".itemadd").each(function(){
                        var itemone = {};

                    var itemname = $(this).find("select[t='item']").val();
                    var price = $(this).find("input[t='price']").val();
                    var numbers = $(this).find("input[t='numbers']").val();
                    var time = $(this).find("input[t='times']").val();

                    itemone['name'] = itemname;
                    itemone['price'] = price;

                   itemone['number'] = numbers;
                   itemone['time'] = time;
                   itemarr.push(itemone);
                });

var  logarr = [];
            $(".hisbox").each(function(){
                    var hisbb = {};

                    var loginfo = $(this).find("input[t='loginfo']").val();
                    var logdate = $(this).find("input[t='logdate']").val();
                    
                    hisbb['loginfo'] = loginfo;
                    hisbb['logdate'] = logdate;

                  
                   
                   logarr.push(hisbb);
                    
                });



                   jsdata['files'] = files2;
                   jsdata['data'] = dataforms;
                   jsdata['logs'] = logarr;
                   jsdata['itemarr'] = itemarr;

                   console.log(jsdata);


                    admin.post({
                        api: "editcustomer",
                        data: jsdata,
                        dataType:'json',
                        success:function (res) {
                            layer.alert("添加成功",{
                                yes:function () {
                                    layui.view.tab.refresh();
                                    layer.closeAll();
                                    formSelects.render();
                                    form.render();
                                }
                            })
                        }
                    });


                
                    break;
            
            }

            return false;
        });

        formSelects.render();
        form.render();


             $('body').on('click','.re',function(){
                console.log("hello");


              $(this).parent().remove();
             });


    




               var editdata = JSON.parse(window.localStorage.getItem('customer_data'));


         console.log(editdata);

         if (editdata) {

        $("input[name='id']").val(editdata.id);

            $("input[name='name']").val(editdata.name);
            $("input[name='address']").val(editdata.address);
            $("input[name='contact']").val(editdata.contact);
            $("input[name='phone']").val(editdata.phone);

             $("input[name='info']").val(editdata.info);


            $("textarea[name='remark']").val(editdata.remark);
var fileopt = "";


             $.ajax({
                url:'/api/Files/getfiles?spid='+editdata.id+"&type=4",
                type:'GET',
                cache: false,
                contentType: false, //不可缺参数
                processData: false,     //不可缺参数
                success:function(data){

                  console.log(data);
                  $.each(data.result,function(k,v){
                      fileopt+=`<div class="layui-col-md2"><a href=`+v.filepath.replace(/uploadfiles/,"files")+`><i class="layui-icon layui-icon-file" style="font-size: 30px; color: #1E9FFF;"></i><span>`+v.filename+`</span></a><input type='hidden' value=`+v.filepath+` name=`+v.filename+` class='filebox2'><i class="layui-icon layui-icon-delete re">delete</i>
                    </div>`; 
                  });
                    
                           
                  $("#filebox2").append(fileopt);

             }

           })


var priceadd = "";
             $.ajax({
                url:'/api/CustomerItemPrice/getlistbyid?id='+editdata.id,
                type:'GET',
                cache: false,
                contentType: false, //不可缺参数
                processData: false,     //不可缺参数
                success:function(data){

                  console.log(data);
                  $.each(data.result,function(k,v){




                    var opt_product = "";

       $.ajax({
            url: '/api/Product/getList'
            ,
            async:false,
            success:function (res) {
                          if (res.result.list.length > 0){
                  
                              $.each(res.result.list, function (index, item) {

                                if (item.id == v.pid) {

                                    opt_product += '<option selected="selected" value="'+item.id+'">'+item.name+'</option>';
                                }else{
                                  opt_product += '<option value="'+item.id+'">'+item.name+'</option>';
                                }

                                  
                              });
                              
                          }

                          formSelects.render();
                          form.render();
                      }
                  });




              priceadd+=`<div class="layui-col-md12 itemadd" >
  <div class="layui-inline">
      
    <label class="layui-form-label">产品</label>
    <div class="layui-input-inline" style="width: 100px;">
          <select  name="item[]" t='item' lay-search class="name"  id="item" lay-search>
                      
                  `+opt_product+`    
         </select>
    </div>

    <div class="layui-inline">
    <label class="layui-form-label">报价</label>
      <div class="layui-input-inline" style="width: 100px;">
      <input type="number" t=price name="price[]"  placeholder="￥" autocomplete="off" value=`+v.price+` class="layui-input price">
    </div>
  </div>

  
  <div class="layui-inline">
    <label class="layui-form-label">数量</label>
    <div class="layui-input-inline" style="width: 100px;">
      <input type="number" t="numbers" name="numbers[]" autocomplete="off" value=`+v.numbers+` class="layui-input">
    </div>
  </div>


  <div class="layui-inline">
    <label class="layui-form-label">日期</label>
    <div class="layui-input-inline" style="width: 100px;">
      <input type="date" t='times' value=`+v.buytime+` name="times[]" autocomplete="off" class="layui-input">
    </div>
  </div>


</div>

<i class="layui-icon layui-icon-delete re">delete</i>
</div>`; 
                  });
                    
                           
                  $("#box").append(priceadd);
                   formSelects.render();
                form.render();
             }

           })









$.ajax({
                url:'/api/CustomersHistory/getlistbyid?id='+editdata.id,
                type:'GET',
                cache: false,
                contentType: false, //不可缺参数
                processData: false,     //不可缺参数
                success:function(data){



                  $.each(data.result,function(i,obj){



                      var hiss=`<div class="layui-inline hisbox">
      
    <label class="layui-form-label">跟踪信息</label>
      <div class="layui-input-inline" style="width: 120px;">
      <input type="date" t='logdate' name='logdate[]' value=`+obj.time+`  placeholder="" autocomplete="off" class="layui-input">
    </div>  <div class="layui-input-inline" style="width:700px;">
      <input type="text" t='loginfo' name="logifo[]"  placeholder="" autocomplete="off" class="layui-input" value=`+obj.info+`>
    </div>
    <i class="layui-icon layui-icon-delete re">delete</i>
  </div>`;

$("#hislog").append(hiss);






                  });





                }
              });



























































































}












        });
</script>
