<link rel="stylesheet" href="./nepadmin/css/formSelects.css" media="all">
<div class="layui-fluid" lay-title="产品管理">
    <div class="layui-row layui-col-space15">


        <div class="layui-col-md12">
            <form class="layui-card layui-form" layui-filter="add-role">
                <div class="layui-card-header" id="rolebd_status">系统管理</div>
                <div class="layui-card-body layui-row layui-col-space10">
              
                    <div class="layui-col-md6">
                         <label class="layui-form-label">名称</label>
                          <div class="layui-input-block">
                        <input type="text" lay-verify="required"  name="name" placeholder="..." autocomplete="off" class="layui-input">
                    </div>
                    </div>

    
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="add-utype">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- 添加角色结束 -->

       
    </div>
</div>
<!-- 角色列表bar tool -->
<script type="text/html" id="role_bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use(['admin', 'table', 'form', 'jquery', 'laytpl', 'formSelects'], function (admin) {
        var $ = layui.jquery;
        var element = layui.element;
        var laytpl = layui.laytpl;
        var formSelects = layui.formSelects;
        var table = layui.table;
        var rolebd_status_value = 'add';
        var form = layui.form;

       

        // 添加角色添加
        form.on('submit(add-utype)', function (data) {
            switch (rolebd_status_value) {
                case 'add':
                    admin.post({
                        api: "addusertype",
                        data: data.field,
                        success:function (res) {
                            layer.alert("录入成功",{
                                yes:function () {
                                    layui.view.tab.refresh();
                                    layer.closeAll();
                                    formSelects.render();
                                    form.render();
                                }
                            })
                        }
                    });
                    break;
                case 'edit':
                    admin.post({
                        api: "ediRole",
                        data: data.field,
                        success:function (res) {
                            layer.alert("编辑角色成功",{
                                yes:function () {
                                    layui.view.tab.refresh();
                                    layer.closeAll();
                                    formSelects.render();
                                    form.render();
                                }
                            })
                        }
                    });
                    break;
            }

            return false;
        });

        formSelects.render();
        form.render();

        //监听工具条
        table.on('tool(role_table)', function(obj){
            let data = obj.data;
            let layEvent = obj.event;
            let tr = obj.tr;

            if(layEvent === 'detail'){
                //do somehing
            } else if(layEvent === 'del'){
                layer.confirm('真的删除行么?', function(index){
                    admin.post({
                        api: "delbank",
                        data: data,
                        success:function (res) {
                            layer.alert("删除角色成功",{
                                yes:function () {
                                    layui.view.tab.refresh();
                                    layer.closeAll();
                                    formSelects.render();
                                    form.render();
                                }
                            })
                        }
                    });
                });
            } else if(layEvent === 'edit'){
                // 请求信息接口，然后打开弹窗
                admin.post({
                    api: 'getRoleInfo',
                    data: {
                        role_id:data.role_id
                    },
                    success:function (res) {
                        rolebd_status_value = 'edit';
                        $('#rolebd_status').html("修改角色 - " + res.result.role_name + " <div class='layui-btn layui-btn-xs' id='reset_add_role'>恢复添加</div>");
                        $("input[name=role_name]").val(res.result.role_name);
                        $("input[name=role_id]").val(res.result.role_id);
                        form.render();
                        formSelects.value('role_auth', res.result.role_auth.split(","));
                    }
                })
            }
        });

        // 恢复编辑面板为添加
        $('body').on('click', '#reset_add_role', function () {
            $('#rolebd_status').html("添加角色");
            rolebd_status_value = 'add';
            $("input[name=role_name]").val('');
            formSelects.value('role_auth', []);
            form.render();
        })

    });
</script>
